{% extends "a_index/layout.html" %}

{% block body %}
{% load static %}
<style>
        .name {
    text-align: left;
    float: left;
}
</style>
It is {% now "jS F Y H:i" %}<br>
<h1 class="code">{{code}}</h1>
{{message}}
<h1 class="user">{{user}}</h1>
<h1 class="chat_id">{{rid}}</h1>


<!--First Player
ready -->
    <div class="r-container-player">
        <div class="r-container-player-sub">
            <h1 class="player1">{{host}}</h1>

            {% if host == user %}
            <form method="GET" action="{% url 'street_race:sticker' %}">
            {% csrf_token %}
                <input hidden name="player" value="player1">
                <input hidden name="room" value="{{rid}}">
                <input hidden name="user" readonly value="{{user}}">
                <input name="sticker" required type="number" placeholder="your Sticker">
                <input type="submit" value="Ready">
            </form>
            {% endif %}
        </div>
    </div>
<!--First END Player Ready-->

<div class="vs">
    <h1>V.S.</h1>
</div>

<!--Second Player-->
<div class="r-container-player">
    <div class="r-container-player-sub">
        <h1 class="player2">{{player2}}</h1>
        {% if player2 == user %}
        <form method="GET" action="{% url 'street_race:sticker' %}">
            {% csrf_token %}
            <input hidden name="player" value="player2">
            <input hidden name="room" value="{{rid}}">
            <input hidden name="user" readonly value="{{user}}">
            <input name="sticker" required type="number" placeholder="your Sticker">
            <input type="submit" value="Ready">
        </form>
        {% endif %}
    </div>
</div>





<!--Chat box-->
<div class="r-chatbox-c">
    <p>Chat Box</p>
    <input id="message">
    <button onclick="message()">Send</button>
    <div class="r-chatbox">
        <section class="lists">
            <p id="messages"></p>
        </section>
        
    </div>
</div>
<div style="height: 1000px;"></div>

<script>
    window.onbeforeunload = function() {
        return "Dude, are you sure you want to leave? Think of the kittens!";
    }

    ym = 0;
setInterval(() => {
    x = document.querySelector(".player1").innerHTML;
    y = document.querySelector(".player2").innerHTML;
    yy = document.querySelector(".player2");
    xx = document.querySelector(".player2").innerHTML;
    code = document.querySelector(".code").innerHTML;
    rid = document.querySelector(".chat_id").innerHTML;
    //getting the joiner
    if (xx == ''){
        fetch('fetch',{
            method: 'POST',
            body: JSON.stringify({
                code : rid,
            })
        })
        .then(response => response.json())
        .then(result => {
            yy.innerHTML = result;
            console.log(result);
            console.log('no player2');
        })
    }else 
    //getting the message
    {
        fetch('fetch',{
            method: 'PUT',
            body: JSON.stringify({
                code : rid,
            })
        })
        .then(response => response.json())
        .then(messages => {
            xm = messages.length;
            zz = (ym-xm)
            if ( zz == 0)
                {console.log('no New Message')}
                else
               {
                latest = messages.slice(Math.max(messages.length - 3, 0))
                ym=xm;
                console.log('new' + ym);
                console.log('y is' +ym+ ' X IS ' +xm);
            latest.forEach((element) => {
                const e = element;
                  
                div = document.createElement('div');
                content = `<div class='all_message'>
                            <p><span class='name'>${e.sender}: </span> ${e.message} <span class="time">${e.time}</span></p>
                            </div>`;
                div.innerHTML = content;
            });
            document.querySelector("#messages").prepend(div);    
        }
        });
        //put append #messages
    }
}, 1500);


function message(){
    message_u = document.querySelector("#message").value;
    player_m = document.querySelector(".user").innerHTML;
    chat_id = document.querySelector(".chat_id").innerHTML;
    fetch('send',{
            method: 'POST',
            body: JSON.stringify({
                message_u : message_u,
                player : player_m,
                chat_id : chat_id,
            })
        })
}

</script>
{% endblock %} 