{% extends "a_index/layout.html" %}

{% load static %}
    {% block body %}
    <link rel="stylesheet" href="{% static 'a_blog/blog.css' %}">


    <link href="{% static 'a_index/blog.css' %}" rel="stylesheet">
    <h1>Blog </h1>
    <h2><a href="{% url 'blog:index' %}">Post a blog</a></h2>





        <div class="b-opa">
            <div class="para_add parallax6">
                <h2 class="mar-l b-mid">
                    Sea Calm
                </h2>
            </div>
            <strong class="mar-l b-par">"resting waves"
            </strong>
            <p class="mar-l b-par">The Main Purpost of One's Life is to enjoy existence in a Geniune way
            </p>
        </div>
    <hr>
    




    <div class="b-opa">
        <div class="para_add parallax5">
            <h2 class="mar-l b-mid">
                Unwanted Glory
            </h2>
        </div>
        <strong class="mar-l b-par">"A downhearted soldier"
        </strong>
        <p class="mar-l b-par">I am A soldier trained to be strong and mighty 
            After medals are hanged 
            A future will be written 
            The enemy waiting for their captivity 
            With silver lining once a strong and mighty now embraces  unwanted glory, the season will pass and silver shall turn to gold which only few withhold 
            Be a dog I surpass now a tiger i become
            Whát àm i
        </p>
    </div>
<hr>

    <div class="b-opa">
        <div class="para_add parallax">
            <h2 class="mar-l b-mid">
                Un-finite Emotion
            </h2>
        </div>
        <strong class="mar-l b-par">"The unfine arts of unfortune moments"
        </strong>
        <p class="mar-l b-par">Thee sudden coldness inside my hands
            Flows through my chest down to my feet
            The iron weight above my stomach
            Rocks falling from highs down to my head
            The moment when curiosity desires justification
            
            Own mind trying to reconcile wisdom
            Wisdom that may maketh thou eyes be open and glance the goodliness of things
            Its like a funnel without end directly to a void.
            Its like a window higher than my height
            Its like a depth of water that no floor had been touch.
            A music
            A Harmony
            A Melody maybe
        </p>
    </div>
<hr>
    <div class="b-opa">
        <div class="para_add parallax2">
            <h2 class="mar-l b-mid">
                Yumayapos sa Takipsilim
            </h2>
        </div>
        <strong class="mar-l b-par">"Its easy to imagine how a man gaze a disappearing sun on the sea’s horizon"
        </strong>
        <p class="mar-l b-par">What a unique day each one has,
            when the darkness comes and the breeze of seas and nights comes, sitting on a rocking chair 11pm, being at the golden age of our life, closing our eyes focusing on a stirred thoughts which haunts at night….
            Why have I not awaken from the focused, hypnotizing routine of my life that enchanted me out from the shine of day, realizing that in the end of our hard work of the whole day in our life is just a digits on our bank account ….
        </p>
    </div>
<hr>
    <div class="b-opa">
        <div class="para_add parallax3">
            <h2 class="mar-l b-mid">
                Max Ehrmann
            </h2>
        </div>
        <strong class="mar-l b-par">"Desiderata"
        </strong>
        <p class="mar-l b-par">Go placidly amid the noise and haste,
            and remember what peace there may be in silence.
            As far as possible without surrender
            be on good terms with all persons.
            Speak your truth quietly and clearly;
            and listen to others,
            even the dull and the ignorant;
            they too have their story. 
            Avoid loud and aggressive persons,
            they are vexations to the spirit.
            If you compare yourself with others,
            you may become vain and bitter;
            for always there will be greater and lesser persons than yourself.
            Enjoy your achievements as well as your plans. 
            Keep interested in your own career, however humble;
            it is a real possession in the changing fortunes of time.
            Exercise caution in your business affairs;
            for the world is full of trickery.
            But let this not blind you to what virtue there is;
            many persons strive for high ideals;
            and everywhere life is full of heroism. 
            Be yourself.
            Especially, do not feign affection.
            Neither be cynical about love;
            for in the face of all aridity and disenchantment
            it is as perennial as the grass. 
            Take kindly the counsel of the years,
            gracefully surrendering the things of youth.
            Nurture strength of spirit to shield you in sudden misfortune.
            But do not distress yourself with dark imaginings.
            Many fears are born of fatigue and loneliness.
            Beyond a wholesome discipline,
            be gentle with yourself. 
            You are a child of the universe,
            no less than the trees and the stars;
            you have a right to be here.
            And whether or not it is clear to you,
            no doubt the universe is unfolding as it should. 
            Therefore be at peace with God,
            whatever you conceive Him to be,
            and whatever your labors and aspirations,
            in the noisy confusion of life keep peace with your soul. 
            With all its sham, drudgery, and broken dreams,
            it is still a beautiful world.
            Be cheerful.
            Strive to be happy. 
            Max Ehrmann, Desiderata, Copyright 1952.
        </p>
    </div>
<hr>
    <div class="b-opa">
        <div class="para_add parallax4">
            <h2 class="mar-l b-mid">
                A 24 year old child
            </h2>
        </div>
        <strong class="mar-l b-par">"don’t judge people before you truly know them. the truth might surprise you…
            think before you say something…!!"
        </strong>
        <p class="mar-l b-par">A 24 year old boy seeing out from the train’s window shouted…
            “Dad, look the trees are going behind!” dad smiled and a young couple sitting nearby, looked at the 24 year old’s childish behaviour with pity, suddenly he again exclaimed … “dad, look the clouds are running with us !” the couple couldn’t resist and said to the old man… “why don’t
            
            you take your son to a good doctor?” the old man
            
            smiled and said … “i did and we are just coming from the hospital, my son was blind from birth, he
            
            just got his eyes today…”
            Every single person on the planet has story.</p><script src="index/dis.js"></script>
    </div>
<hr>





<div class="container-main-main">
    <div class="s-center"><h1>Too Personal</h1></div>
</div>







{% endblock %}


