{% load static %}
<style>
    .aa {
        width: 50%;
        background-color: none;
        background: none;
        right:1px;
        border:none;
    }
    .lef{
        background-color: none;
        background: none;
        right:1px;
    }
</style>
        <div class="container-sub-2-1 a-right aa">
            <span><a class=""  href="{% url 'news:section' x=1 %}"><img class="h-icon th hg left" src="{% static 'app_images/politics.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'news:section' x=2 %}"><img class="h-icon th hg left" src="{% static 'app_images/sports.png' %}" alt=""></a></span>
        </div>


