{% load static %}
<style>
    .aa {
        width: 50%;
        background-color: none;
        background: none;
        right:1px;
        border-bottom:none;
    }
    .lef{
        background-color: none;
        background: none;
        right:1px;
    }
    .container-span {
        display: flex;
        flex-wrap: wrap;
    }
    .container-span span {
        background: chartreuse;
        margin: 1.5%;
        margin: auto;
        margin-bottom: 1%;
    }
</style>
<div class="container-sub-2-1 a-right aa">
    <span><a class=""  href="{% url 'news:section' x=1 %}"><img class="h-icon th hg left" src="{% static 'app_images/politics.png' %}" alt=""></a></span>
    <span style="margin-right:35%;"><a class=""  href="{% url 'news:section' x=2 %}"><img class="h-icon th hg left" src="{% static 'app_images/sports.png' %}" alt=""></a></span>
</div>



