@import url("https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans:wght@300&family=The+Nautigal:wght@700&display=swap");
p {
  font-size: larger;
}
strong {
  font-size: larger;
}
.mar-l {
  margin-left: 10%;
  margin-right: 10%;
}
.b-mid {
  margin-top: 2%;
  height: fit-content;
  padding: 1%;

  border-radius: 15px;

  text-shadow: 0px 0px 16px rgb(255, 255, 255) !important;
}
/* @import url("https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans:wght@300&family=Work+Sans:wght@500&display=swap"); */
.b-par {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 20%;
  font-family: "Licorice", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.add_margin {
  margin: 5vw;
}
.parallax {
  background-image: url("images/unwanted.jpg");
}
.parallax2 {
  background-image: url("images/takip.jpg");
}

.parallax5 {
  background-image: url("../a_blog/images/gr.jpg");
}


.para_add {
  border-radius: 10.2px;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  position: relative;
  display: flex;
}

.b-opa:hover {
  opacity: 1;
}
.b-opa {
  border-radius: 100px;
}
.container {
  margin-left: 3rem;
  margin-right: 3rem;
}

.font-one {
  /* font-family: Brush Script MT, Brush Script Std, cursive; */
  color: #cef0d4;
  font-family: "Rouge Script", cursive;
  font-size: 5vh;
  font-weight: normal;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

.font-two {
  /* font-family: Brush Script MT, Brush Script Std, cursive; */
  color: #d54d7b;
  /* font-family: "Great Vibes", cursive;
  font-family: "Licorice", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "The Nautigal", cursive;
  font-family: "Work Sans", sans-serif; */
  letter-spacing: 0.2rem;
  font-family: "Licorice", cursive !important;
  font-family: "Open Sans", sans-serif !important;
  font-family: "The Nautigal", cursive !important;
  background-color: rgb(244, 255, 233);
  /* font-size: 165px;
  line-height: 160px; */
  font-weight: 700;
  margin-bottom: 0px;
  /* font-size: 5vh; */
  font-size: 7.5vh;

  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.font-three {
  color: #771515;
  font-family: "Orienta", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: center;
}
