
.blog-p {
    max-width: 100%;
    max-height: fit-content;
    font-size: small;    
}
.blog-img {
    width: auto;
}
.blog-cutter {

    margin-top: 10px;
    border-radius: 15px;
    background: linear-gradient(359deg, rgba(10,11,9,1) 0%, rgba(66,66,66,1) 71%, rgba(66,66,66,1) 73%, rgba(67,67,67,1) 76%, rgba(70,70,70,1) 79%, rgba(72,72,72,1) 80%, rgba(75,75,75,1) 83%, rgba(78,78,78,1) 88%, rgba(83,83,83,1) 92%, rgba(86,86,86,1) 97%, rgba(92,92,92,1) 100%, rgba(98,98,98,1) 100%, rgba(108,108,108,1) 100%, rgba(114,114,114,1) 100%, rgba(176,176,176,1) 100%, rgba(212,212,212,1) 100%, rgba(255,255,255,1) 100%);

}

p{
    animation: typing-2 1s steps(1000) forwards;
    justify-content:center;

    background-color: rgb(92, 66, 0);
    font-size: small;
}