{% extends "a_index/layout.html" %}

{% load static %}
    {% block body %}
    <link rel="stylesheet" href="{% static 'application/application.css' %}">
<link rel="stylesheet" href="{% static 'games/games.css' %}">

<div class="games_container">
    <div class="game">
        <img src="{% static 'application/images/mail.png' %}">
        <a href="{% url 'mail:index' %}">E-Mail</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/earthquake.png' %}">
        <a href="{% url 'index:earthquake' %}">World Earthquake Report</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/calendar.png' %}">
        <a href="{% url 'index:calendar' %}">Calendar</a>
    </div>

</div>
    {% endblock %}
