.color_body {

    height: 1000px;
}

.img2    {
    text-align: center;
    display: block;
 
  top: 50%;
    align-items: center;
    object-fit: fill;
    max-width: 10;
    padding-top: 1em;
    padding-bottom: 0.1em;
    padding-right: 0.2em;
    padding-left: 0.2em;
    border-radius: 14%;
  /*backround color*/
   /* background-color: darkgray;*/
    animation-name: img;
    animation-duration :2s;
    animation-iteration-count:  infinite;
    /*background color style with  opacity
    background-image: linear-gradient( rgb(80, 18, 161,0), rgb(185, 178, 178,0.4));  */
  /*this is for background color transition*/
    animation-name: backgroundColorPalette1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; 
    /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
  }
  .am {
    max-width: 11.45%;      
  }
  .img2    {
    text-align: center;
    display: block;
    animation-name: backgroundColorPalette1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; 
    /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
  }
  @keyframes backgroundColorPalette1 {
	12% {
		background: rgb(241, 218, 5);
    background: linear-gradient(to center, rgba(241, 218, 5, 0.704), rgb(185, 178, 178,0.0)); 
	}
	24% {
    background: rgb(5, 5, 5);
    background: linear-gradient(to center, rgba(241, 241, 241, 0.704), rgb(185, 178, 178,0.0)); 
	}
	36% {
    background: rgb(228, 155, 86);
    background: linear-gradient(to center, rgba(247, 119, 0, 0.784), rgb(185, 178, 178,0.0));
	}
	48% {
    background: rgb(60, 177, 14);
    background: linear-gradient(to center, rgba(60, 177, 14, 0.766), rgb(185, 178, 178,0.0));
  }
  60% {
    background: rgb(62, 65, 238);
    background: linear-gradient(to center, rgba(62, 65, 238, 0.766), rgb(185, 178, 178,0.0));   
  }
	72% {
    background: rgb(132, 27, 202);
    background: linear-gradient(to center, rgba(132, 27, 202, 0.766), rgb(185, 178, 178,0.0));   
  }
  84% {
    background: rgb(250, 250, 250);
    background: linear-gradient(to center, rgba(250, 250, 250, 0.766), rgb(185, 178, 178,0.0));   
  }
   
  
  100% {
    background: rgb(209, 42, 42);
    background: linear-gradient(to center, rgba(209, 42, 42, 0.766), rgb(185, 178, 178,0.0));  

}
  }