{% extends "a_index/layout.html" %}

{% load static %}
    {% block body %}
    <link rel="stylesheet" href="{% static 'application/application.css' %}">
    <link rel="stylesheet" href="{% static 'games/games.css' %}">

<div class="games_container">

    <div class="game">
        <img src="{% static 'commerce/images/auction.png' %}">
        <a href="{% url 'commerce:auction' %}">Auction</a>
    </div>
    <div class="game">
        <img src="{% static 'commerce/images/store.png' %}">
        <a href="{% url 'sale:index' %}">Store</a>
    </div>



</div>

<div style="height: 1000px"></div>


    {% endblock %}
