{% extends "commerce/invest/layout.html" %}
{% load humanize %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'commerce/invest/about.css' %}">


<br>
<br>
<br>
<br>
<br><br>
<h1>Calculator</h1>

<ul>
    <li class="about-main-list">
        <h1>Stock Item</h1>
        <img src="{% static 'commerce/invest/images/stock_item.png' %}">
        <br>
        <ul>
            <li>
                <Details>
                    This is where you put what stock you are going to buy
                </Details>
            </li>
        </ul>
    </li>

    <li class="about-main-list">
        <h1>Amount</h1>
        <img src="{% static 'commerce/invest/images/amount.png' %}">
        <br>
        <ul>
            <li>
                <details>Input How much are you willing to <strong>Buy</strong></details>
            </li>
        </ul>
    </li>

    <li class="about-main-list">
        <h1>Buy Price</h1>
        <img src="{% static 'commerce/invest/images/buy_price.png' %}">
        <br>
        <ul>
            <li>
                <details>Buy Price is the <strong>Stock Price</strong> you are willing to Buy</details>
            </li>
            <li>
                <details>Price determines the quantity you can buy with the amount you are willing to invest</details>
            </li>
        </ul>
    </li>

    <li class="about-main-list">
        <h1>You Can Buy</h1>
        <img src="{% static 'commerce/invest/images/you_can_buy.png' %}">
        <br>
        <ul>
            <li>
                <details>Gives you How many <strong>quantity</strong> you can buy</details>
            </li>
            <li>
                <details>Shows you the remaining balance after you made the buying Trade</details>
            </li>
            <li>
                <details><strong>For</strong> the actual amount you will spent after buying</details>
            </li>
        </ul>
    </li>
    
    <li class="about-main-list">
        <h1>You Can Sell</h1>
        <img src="{% static 'commerce/invest/images/you_can_sell.png' %}">
        <br>
        <ul>
            <li>
                <details>Quanity you can sell</details>
            </li>
            <li>
                <details>Automatically provides you with <strong>Profitable</strong> Price </details>
            </li>
        </ul>
    </li>

    <li class="about-main-list">
        <h1>++ -- Increment</h1>
        <img src="{% static 'commerce/invest/images/increment.png' %}">
        <br>
        <ul>
            <li>
                <details>
                    Increase the selling price with small percentage
                </details>
            </li>
        </ul>
    </li>

    <li class="about-main-list">
        
        <br>
        <h1>Profit</h1>
        <img src="{% static 'commerce/invest/images/profit.png' %}">
        <ul>
            <li>
                <details>
                    Calculate the profit based on the Sell Price
                </details>
            </li>
            <li>
                <details>
                    Increment is How many increase on profitable price in percentage
                </details>
            </li>
        </ul>
    </li>
</ul>


{% endblock %}