{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"
        media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}" defer></script>
    <title>Car Service</title>
    <style>
        .nav-wrapper>ul>li>a {
            color: black;
        }
    </style>

</head>

<body>
    <!-- SideBAR -->

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#name"><span class="black-text name">J Foreign</span></a>
                <a href="#email"><span class="black-text email">repapaka20@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>About the Author</a></li>
        <li><a href="#!">About PAGONG</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Links</a></li>
        {% for button in navButton.allButton %}
        <li><a href="{{button.page}}">{{button.link}}</a></li>
        {% endfor %}
        <li><a class="waves-effect" href="#!">Help</a></li>
    </ul>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, true);
        });
    </script>
    <!-- SIDEBAR -->

    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
                <!-- TRIGGER SIDE-OUT SIDE BAR NAV VAR -->
                <i data-target="slide-out" class="material-icons sidenav-trigger">more_vert</i>
            </a>


            <ul class="right hide-on-med-and-down">
                <li><a href=""><i data-target="slide-out" class="material-icons sidenav-trigger">more_vert</i></a></li>
                <!-- Nav Bar BUTTONS -->
                {% for button in navButton.allButton %}
                <li><a href="{{button.page}}">{{button.link}}</a></li>
                {% endfor %}
                <!--  -->

            </ul>
        </div>
    </nav>

    <div class="body-center">
        {% block body %}

        {% endblock %}
    </div>



</body>

</html>