
{% extends "a_index/layout.html" %}

{% load static %}
    {% block body %}
<style>

    img {

        max-width: 100%;
        max-height: 50%;
        margin-bottom: 5%;
    }
    div {
        text-align: center;
    }
</style>
    <h1>Fish</h1>
<div>
    <img src="{% static 'fish/f1.png' %}">
    <img src="{% static 'fish/f3.png' %}">
    <img src="{% static 'fish/f4.png' %}">
    <img src="{% static 'fish/f5.png' %}">
    <img src="{% static 'fish/f6.png' %}">
    <img src="{% static 'fish/f7.png' %}">
    <img src="{% static 'fish/f8.png' %}">
    <img src="{% static 'fish/f9.png' %}">
    <img src="{% static 'fish/f10.png' %}">
    <img src="{% static 'fish/f11.png' %}">
    <img src="{% static 'fish/f12.png' %}">
    <img src="{% static 'fish/f13.png' %}">
    <img src="{% static 'fish/f14.png' %}">
    <img src="{% static 'fish/f15.png' %}">
    <img src="{% static 'fish/f16.png' %}">
    <img src="{% static 'fish/f17.png' %}">
    <img src="{% static 'fish/f18.png' %}">
</div>




    {% endblock %}