{% extends "race/layout.html" %}
{% load humanize %}
{% block body %}
    <h2>{{lap_name}}</h2>
    Released: <h4 style="margin-top: 0; color: yellow;">

    <script>
        var myDate = new Date( `{{lap_release}}` *1000);
        document.write(`  &nbsp&nbsp&nbsp&nbsp&nbsp`+myDate.toString());
    </script>
    </h4>
    <hr>
    <style>
        .clock-container {
            border:solid orange 2px;
            margin-bottom: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0;
            border-radius: 5.5px;

        }
        .clock-container h1 {
            text-align: center;
        }
        a {
            text-decoration: none;
            color: lightblue;
        }
    </style>

    <h4>Clocked Birds:</h4> 
    {% for c in clocked %}
        <div class="clock-container">
            <a class="p-name" href="{% url 'user:view_record' pid=c.pigeon_id %}"><h1 style="margin:0.2rem;">"{{c.pigeon_name}}"</h1></a>
            <b style="color: yellow;">Clock: {{c.clock}} </b> <br>
            <b style="color: greenyellow;"> speed: {{c.speed|floatformat:"1"|intcomma}} meter per Minute </b> <br> 
            <b style="color: lightblue;">{{c.time|floatformat:"2"|intcomma}} Minutes</b><br>
            <b>{{c.distance |floatformat:"1"|intcomma}} Meters</b><br>
        </div>
    {% endfor %}

{%endblock%}