
{% extends "race/layout.html" %}
{% block body %}
<style>
    .manager {
        color: rgb(30, 255, 0);
        text-decoration: none;
        background: rgba(162, 255, 190, 0.151);
        padding: 0.5rem;
        border-radius: 5.5px;
       }
    .view-players {
        color: yellow;
        text-decoration: none;
        background: rgba(255, 255, 162, 0.151);
        padding: 0.5rem;
        border-radius: 5.5px;
    }
    .clock-1 {
        border: rgba(139, 255, 23, 0.144) solid 2px;
        border-radius: 10px;
    }
    .clock-2 {
        border: rgba(240, 128, 128, 0.253) solid 2px;
        border-radius: 10px;
    }
    .clock-3 {
        border: rgba(32, 178, 171, 0.26) solid 2px;
        border-radius: 10px;
        background-color: rgba(219, 184, 202, 0.075);
        padding-top: 4%;
    }

    .clock-button {
        background-color: rgba(244, 255, 85, 0.63);
        padding: 4%;
        border-radius: 10px;
        font-size: larger;
    }
    .clock-button:hover {
        background-color: rgb(105, 200, 255);
    }
    .clock-input {
        font-size: larger;  
        border: 2px solid red;
        border-radius: 4px;
        text-align: center; 
        padding: 4%;
    }
    .races-container {
        padding: 50px;
        border: 3px rgba(144, 238, 144, 0.192) solid; 
        margin:3px; 
        padding:4%; 
        border-radius: 10px;
        background-color: rgba(218, 253, 218, 0.089); 
        align-items: center;
        margin-bottom: 3%;
        text-align: center;
    }
    .races-container a {
        text-decoration: none;
        color: white;
    }
    .races-container button {
        background-color: rgba(124, 205, 92, 0.575);
        border:solid 2px greenyellow;
        border-radius: 10px;
        margin: 4%;
        font-size: larger;
    }
    .load-pigeon {
        color: white;
    }
</style>
<h1><a class="manager" href="{% url 'g_pigeon_race:manager_page' %}">manager</a></h1>
<hr>
<h5 class="good-day">Good Day, {{request.user.username}}</h5>
<h3><a class="view-players" href="{% url 'user:index' %}">View Players</a></h3>

<hr>
Time: {{test2}}<br>
{{test}} m / h
{% if measured %}
<!-- CLock Section -->
<div class="clock-1">
    <div class="clock-2" >
        <div class="clock-3">
                {% if message %}
                    <h1 style="background-color: rgba(255, 0, 0, 0.253); margin: 4%; padding: 2%;">{{message}} ! ! !</h1>
                    X: {{x}}
                    <br>
                    Load: {{load}}
                    <br>
                    {{now}}
                    {% if new %}
                        <h1><strong>{{message}}</strong></h1>
                        <p>{{new}}<br>
                        {{lat}}<br>
                        {{long}}<br></p>
                    {% endif %}
                {% endif %}
            
            <form style="text-align: center;" action="{% url 'g_pigeon_race:clock' %}" method="post">
                {% csrf_token %}
                <input class="clock-input" placeholder="Type Code Here" name="clock_code" ><br><br>
                <button class="clock-button" type="submit">CLock</button>
            </form>
            <br>
                <div style="text-align: center; border: 2px rgba(0, 195, 255, 0.247) solid;border-radius: 25px;">
                    {% if count %}
                        <hr>
                        <a style="align-items: center; text-align: center; ">" <h1>{{x.pigeon_name}}</h1> "</a><br>
                        " <a class="p-name" href="{% url 'user:view_record' pid=x.pigeon_id %}">
                            <strong><h1>{{x.pigeon_name}}</h1> </strong>
                        </a> "
                        Lap : {{count}}<br>
                        {{x.lap_name}}<br>

                        Pigeon ID is Y : {{y}} <br>
                        Pigeon ID 2 : {{x.pigeon_id}}<br>
                        Race ID : {{x.race_name}}<br>

                        Released Time: {{x.release_time}} <br>
                        Clock Time : {{x.clock_time}}<br>
                        <hr>
                        To:
                        <hr>
                        <h2>Record</h2>
                            {% for r in records %}
                                {{r.lap_name}} <br>
                                {{r.speed}}<br>
                                <hr>
                            {% endfor %}
                    {%endif %}
                </div>
        </div>
    </div>
</div>

    {% if races %}
        <h1>Open Races:</h1>
            {% for race in races %}
                {% if race.finished %}
                    {{race.racename}} has Ended
                    <hr>
                {% else %}
                    <div class="races-container">
                        <a href="{%url 'g_pigeon_race:race' race.id %}">
                            <h2>{{race.racename}}
                        </h2>
                        <p>Price {{race.price}}</p>    
                    </a>
                        {% if race.started %}
                            <a href="{% url 'g_pigeon_race:lap' race.id %}">
                                <button class="load-pigeon">LOAD PIGEON</button>
                            </a>
                        {% else %}
                            <form action="{%url 'g_pigeon_race:race' race.id %}" style="text-align: center;">
                                <button  class="button">Join !!</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %} 
{% else %}
    <h2><a class="view-players" href="{% url 'user:upload' %}">Register pigeon</a></h2>
    Please Measure Your Loft Place Before Joining the race 
    <div class="add_point" style="border: 3px rgba(255, 0, 0, 0.349) solid; margin-bottom: 2%; padding: 2%; border-radius:10px; background-color:rgba(255, 0, 0, 0.253)">
        Your Loft Place
        <form method="post" action="{% url 'g_pigeon_race:measure' %}">
            {% csrf_token %}
            <input name="place" placeholder="Your Complete Address" style="width: 100%;">
            <br>
            <input class="measure" type="submit">
        </form>
    </div>

{% endif %}



<div style="height: 500px;"></div>
{% endblock %}