{% extends "a_index/layout.html" %}

{% block body %}
<style>
    .clock-1 {
        border: rgba(139, 255, 23, 0.144) solid 2px;
        border-radius: 10px;
    }
    .clock-2 {
        border: rgba(240, 128, 128, 0.253) solid 2px;
        border-radius: 10px;
    }
    .clock-3 {
        border: rgba(32, 178, 171, 0.26) solid 2px;
        border-radius: 10px;
        background-color: rgba(219, 184, 202, 0.075);
        padding-top: 4%;
    }

    .clock-button {
        background-color: rgba(244, 255, 85, 0.63);
        padding: 4%;
        border-radius: 10px;
        font-size: larger;
    }
    .clock-button:hover {
        background-color: rgb(105, 200, 255);
    }
    .clock-input {
        font-size: larger;  
        border: 2px solid red;
        border-radius: 4px;
        text-align: center; 
        padding: 4%;
    }
    .races-container {
        padding: 50px;
        border: 3px rgba(144, 238, 144, 0.192) solid; 
        margin:3px; 
        padding:4%; 
        border-radius: 10px;
        background-color: rgba(218, 253, 218, 0.089); 
        align-items: center;
        margin-bottom: 3%;
    }
    .races-container button {
        background-color: rgba(124, 205, 92, 0.575);
        border:solid 2px greenyellow;
        border-radius: 10px;
        margin: 4%;
        font-size: larger;
    }
</style>
<a href="{% url 'g_pigeon_race:manager_page' %}">manager</a>

<hr>
<h5 style="background-color: rgba(255, 105, 180, 0.137); padding: 2%;">Good Day, {{request.user.username}}</h5>
<h3><a style="text-decoration: none; background-color: rgba(105, 255, 138, 0.082);padding: 1%;" href="{% url 'user:index' %}">Users</a></h3>
<div class="clock-1">
    <div class="clock-2" >
        <div class="clock-3">
                {% if message %}
                    <h1 style="background-color: rgba(255, 0, 0, 0.253); margin: 4%; padding: 2%;">{{message}} ! ! !</h1>
                    {{now}}
                    {% if new %}
                        <h1><strong>{{message}}</strong></h1>
                        <p>{{new}}<br>
                        {{lat}}<br>
                        {{long}}<br></p>
                    {% endif %}
                {% endif %}
            
            <form style="text-align: center;" action="{% url 'g_pigeon_race:clock' %}" method="post">
                {% csrf_token %}
                <input class="clock-input" placeholder="Type Code Here" name="clock_code" ><br><br>
                <button class="clock-button" type="submit">CLock</button>
            </form>
            <br>
                <div style="text-align: center; border: 2px rgba(0, 195, 255, 0.247) solid;border-radius: 25px;">
                    {% if count %}
                        <hr>
                        <a style="align-items: center; text-align: center; ">" {{x.pigeon_name}} "</a><br>
                        Race count : {{count}}<br>
                        Released : {{x.lap_name}}<br>

                        Pigeon ID is Y : {{y}} <br>
                        Pigeon ID 2 : {{x.pigeon_id}}<br>
                        Race ID : {{x.race_name}}<br>

                        Released Time: {{x.release_time}} <br>
                        Clock Time : {{x.clock_time}}<br>
                        <hr>
                        <h2>Record</h2>
                            {% for r in records %}
                                {{r.lap_name}} <br>
                                {{r.speed}}<br>
                                <hr>
                            {% endfor %}
                    {%endif %}
                </div>
        </div>
    </div>
</div>

<hr>



{% if races %}
<h1>Races:</h1>
        {% for race in races %}
    <div class="races-container">
        <h2><a href="{%url 'g_pigeon_race:race' race.id %}" style="background-color: rgba(240, 255, 240, 0.178);color: rgb(255, 255, 255); padding: 2%; margin: 15px; line-height: 1.5; text-align: center;text-decoration: none;">{{race.racename}}
        </a></h2>
        <form action="{%url 'g_pigeon_race:race' race.id %}" style="text-align: center;">
            <button  class="button">Join !!</button>
        </form>
            <p style="justify-content: center;align-items: center;background-color: rgba(2, 255, 15, 0.137);border-radius:1px; ">Price {{race.price}}</p>            
    </div>
        {% endfor %}
{% endif %} 
<br>
<div style="height: 500px;"></div>
{% endblock %}