{% extends "race/layout.html" %}

{% block body %}
<style>
    .eee {
        background-color: rgba(0, 110, 255, 0.123);
        border: solid 1.2px rgba(0, 128, 0, 0.233);
    }
    * {
        border-radius: 10px;
    }
    * input {
        border: none;
        padding: 0.5rem;
        font-size: small;
        margin-bottom: 0.5rem;
    }
    form input {
        border: none;
        background-color: rgb(0, 195, 255);
    }
    #valued {
        color: rgb(0, 195, 255);
        font-weight: 700;
    }
    .rlap{
        text-align: center;
        font-size: x-large;
        color: yellow;
    }
    .load_button {
        background-color: yellowgreen;
        font-size: x-large;
        border:none;
    }
    * button {
        border-radius: none;
    }
    .button-44 {
background: #e62143;
border-radius: 11px;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: flex;
font-size: 1.15em;
font-weight: 700;
justify-content: center;
line-height: 33.4929px;
padding: .8em 1em;
text-align: center;
text-decoration: none;
text-decoration-skip-ink: auto;
text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
text-underline-offset: 1px;
transition: all .2s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: 50%;
word-break: break-word;
border: 0;
}

.button-44:active,
.button-44:focus {
border-bottom-style: none;
border-color: #dadada;
box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
outline: 0;
}

.button-44:hover {
border-bottom-style: none;
border-color: #dadada;
}

</style>
<div style="background: #fd747831; border: 2px solid #e664646c; margin: 15px; line-height: 1.5; text-align: center;border-radius:5.5px">
    <h1 id="race_name">
        {{rn.racename}}
    </h1>
    <a style="text-decoration:none; color:lightblue;" href="{% url 'g_pigeon_race:view_race_record' id=rn.id %}">View record</a>
</div>  

<input hidden  id="race_id" value="{{rn.id}}">

<p style="font-size: smaller;">Get the code and Load the Pigeon on the Truck</p>
<div id="e1"></div>
<hr>
    <div style="border: 4px solid red; width:fit-content;" hidden> 
        <div id="lap_id"></div>
        <div id="race_id2">{{rn.id}}</div>
    </div>
    

<div style="text-align:center;">
    <div style="text-align: left;color: yellow;padding: 1% ;">
        <div>
            <h3 style="margin-bottom: 0; padding-bottom: 0; color: rgb(255, 87, 87);">Next Lap: </h3>
            <h1 style="margin-top: 0; padding-top: 0;">
                <div id="lap_name" style="text-align: center;">
                </div>
            </h1>
                                        <form action="{% url 'g_pigeon_race:release' id=current_lap.id %}" method="post">
                                            {%csrf_token%}
                                            <input hidden readonly value="{{now}}" name="release_time">
                                            <input required placeholder="Release it?">
                                            <input class="button-44" type="submit" value="Release"></button>
                                        </form>
        </div>  

        <hr>

        <div class="loading_station_form">
            Add Loading Station
            {{current_lap.id}}
            <form method="POST" action="{% url 'g_pigeon_race:add_loading_station' lap_id=current_lap.id %}">
                {% csrf_token %}

                <input required name="place" type="text" placeholder="Place">
                <input required name="price" type="number" placeholder="Price">
                <input required name="time" type="time">
            
                <button type="submit">+</button>
                <!-- <input type="submit" value="+"> -->
            </form>
        </div>
        



        <script>
            function loading_schedule() {
                container = document.querySelector("#loading_list");
                if (container.style.display == 'none') {
                    container.style.display = 'block'
                } else {
                    container.style.display = 'none'
                }
            }
        </script>
        <style>
            #loading_list {
                width: 100%;


        top: 10%;
        left: 0;
        padding: 5.5%;
        z-index: 1;
        position: fixed;
        background-color: rgba(245, 222, 179, 0.26);
        display: none;
        backdrop-filter: saturate(50%) blur(1px);    
        -webkit-backdrop-filter: blur(10px);
        max-height: calc(100vh - 210px);
        overflow-y: auto;
            }
        </style>
        <div id="loading_list_container"><button onclick="loading_schedule()">Loading Schedule</button>
            <ul style="display: none; text-shadow: 0 0 10px #1b1b1b;" id="loading_list">
                <strong><h2>Loading Schedule <button onclick="loading_schedule()">Close</button></h2></strong>
            </ul>
        </div>
    </div>
    <h2>Laps:</h2>
    {% for l in lap  %}
        <div style="padding-top: 0px;background-color: rgba(255, 140, 0, 0.11);border:3px solid rgba(255, 255, 33, 0.192);margin: 5px; padding: 5%;">
            <p id="lapid" hidden>{{l.id}}</p>
            <h1 style="margin-top: 0;"><p id="valued" >{{l.release}}</p>{{l.num_loaded}} Birds</h1>
            <form action="{% url 'g_pigeon_race:view_loaded' l.id %}">
                <input type="submit" value="View Loaded Pigeons">
            </form>
            <button  id="{{l.id}}" onclick="truck(id)" >Truck</button>

        </div>
        {% empty %}
        <h1>No more lap</h1>
        <a style="text-decoration: none; color: lightblue;" href="{% url 'g_pigeon_race:view_race_record' id=rn.id %}">View Result</a>
    {% endfor %}
</div>
<hr>
<h1 style="color: rgb(31, 255, 61);">Released Lap:</h1>
{% for r in rlap %}

    <div class="rlap"><strong>{{r.release}}</strong>
        <div>{{r.char_time}}</div>
        <form action="{% url 'g_pigeon_race:view_clocked' lid=r.id %}">
            <input type="submit" value="View Clocked Pigeons">
        </form>
        <form action="{% url 'g_pigeon_race:view_loaded_dead' rn.id %}">
            <input type="submit" value="View Loaded Pigeons">
        </form>
    </div>
    <hr>
{% endfor %}

<script>


    // getting active lap

lap_id = document.querySelector("#lapid").innerHTML;
lap_name = document.querySelector("#valued").innerHTML;
document.querySelector("#lap_id").innerHTML = lap_id;
document.querySelector("#lap_name").innerHTML = lap_name;
// end of getting active lap
function putpigeon(id) {
        //try put the pigeon to pigeon lap
        fetch(`/race/test/${id}`);
}
function truck(x) {
    yy = `On Truck ${x} `
    alert(x);
}


function loadit(id, state, lapid, lap_num) {
    //putting the pigeon to Loaded MODEL
    code = document.querySelector(`#code-${id}`).value;   
    race_id = document.querySelector("#race_id2").innerHTML;
    race_name = document.querySelector("#race_name").innerHTML;
    fetch(`/g_pigeon_race/loadpigeon/${id}`, {
        method: "PUT",
        body: JSON.stringify({
            lapid:lapid,
            race_name:race_name,
            pid:id,
            lap_num:lap_num,
            race_id:race_id,
            loaded_code: code, 
            loaded: !state
        })
    })
    .then((response) => {
                if (!response.ok) {
                    // error processing
                    throw 'Error';
                }
                return response.json()
            });
   location.reload();
   alert('successfully LOADED');
   //alert(id + " Successfully loaded" + state + "lap:ID" + lapid + "code" + code);
}

    document.addEventListener('DOMContentLoaded', function() {
    rd = document.querySelector("#race_id").value;

    fetch(`lap_pigeon/${rd}`)
.then(response => response.json())
.then(pigeons => {
    pigeons.forEach(element => {
        const e = element;
        const ee = document.createElement('div');
        eee = `<div class="eee"; id="eee-${e.id}"
        style=" padding:3px; margin:3px; border-radius:25px; padding:10px; margin: 15px; line-height: 1.5; text-align: center; width:device-width">
            <p class="pnp">
                "${e.name}" <br>
            Ring: <a style="background-color:rgba(0, 128, 0, 0.233);padding-left:10px;padding-right:10px">${e.ring}</a> <br>
            </p>
            <input id="code-${e.id}"  placeholder="Load Code"  >
            <button class="load_button" id="x-${e.id}">load</button>
            <br>
            Last Load: ${e.loads} <br>
            
            {{lap.id}}
            </div>`;
        ee.innerHTML = eee;
        document.querySelector("#e1").append(ee);


            //put on clock load 
// !! cant find load 
            let lapid = document.querySelector("#valued").innerHTML;
            let lap_num = document.querySelector("#lapid").innerHTML;
            let loaded_code = document.querySelector(`#code-${e.id}`).value;
            let x = document.querySelector(`#x-${e.id}`)
        x.addEventListener("click", event => {
            loadit(e.id, e.loaded, lapid, lap_num);
        });
    //    button.addEventListener("click", event => {
    //        testb(loaded_code)
    //    });
    });

});

    });


</script>
<!-- getting each lap loading_station -->
        <script>

            function fetch_stations() {
                current_lap_id = document.querySelector("#lapid").innerHTML;
                loading_list = document.querySelector("#loading_list")

                fetch("{% url 'g_pigeon_race:add_loading_station' lap_id=current_lap.id %}" )
                    .then(response => response.json())
                    .then(result => {

                        for (r in result)
                        {
                            

                            x = document.createElement('li');
                            x.innerHTML = 
                            `
                            
                            <strong> ${result[r].place} </strong>
                            <br>
                            <a>Price: ${result[r].price} </a>
                            <br>
                            <a>Time: ${result[r].time} </a>
                            <br><br>
                            
                            `;

                            loading_list.append(x);
                            console.log(result[r]);
                        }

                    })
            }
            fetch_stations()
        </script>



<div style="height: 1000px;"></div>
{%endblock%}