{% extends "a_index/layout.html" %}
{% block body %}

<div style="text-align: center;">
    <h1>" {{race}} "</h1>
    <h4>Registered Birds</h4>
</div>
{% for qw in pigeons %}
    <div class="reg_pigeon">
        <img class="reg_image" src="{{qw.link}}">
        " {{qw.name}} "  <br>
        Ring: {{qw.ring}}  <br>
        Owner: {{qw.owner}}  <br>
        <a href="{% url 'user:view_record' pid=qw.id %}"><strong><button>view Pigeon</button></strong></a> 
        <br>
        {{qw.id}}
            {% if qw.owner == request.user.username %}
            <form action="{% url 'g_pigeon_race:remove' race.id %}" method="POST">
                {%csrf_token%}
                <input hidden name="pigeon_id" value="{{qw.id}}">
                <input type="submit" value="Remove">
            </form>
            {% endif %}
        
    </div>
    <br>
{%endfor%}



{% endblock %}