{% extends "race/layout.html" %}

{% block body %}

<style>

    .load-pigeon {
        background: #7fff44fb;
        border-radius: 10px;
        padding: 1rem;
        font-size: larger;
        border:none;
        font-weight: 800;
        letter-spacing: 0.6rem;

    }
    @media (max-width: 599px) {
        .load_pigeon {
                border: rgb(255, 0, 0) solid 1px;
                border-radius: 50%;
                width: 20%;
                height: 10%;
                padding:7px;
                background-color: rgb(236, 255, 183);
                padding: auto;
                margin: auto;
                position: fixed;
                bottom: 8%;
                left: 40%;
                line-height: 1.5; text-align: center;
                animation: fadeIn 2s;
                -webkit-animation: fadeIn 2s;
                -moz-animation: fadeIn 2s;
                -o-animation: fadeIn 2s;
                -ms-animation: fadeIn 2s;
                background: -webkit-linear-gradient(top, #44ecff, #93f58a);

        }
    }
</style>


<h1 style="background-color: rgba(220, 20, 60, 0.116); width: fit-content; padding: 5px; margin: 1%;">
    {{race.racename}} 
    
</h1>
<!-- <a href="{% url 'g_pigeon_race:lap' race.id %}">
    <button class="load-pigeon">LOAD PIGEON</button>
</a> -->
<div hidden class="side">Total Entries {{total}}</div>
<hr>


{% if race.started %}
<h1>Race Has Started</h1>
{% else %}



    {% for up in unpigeons %}
        <div hidden>
            <p id="name">{{up.name}}</p>
            <p id="ring">{{up.ring}}</p>
            <p id="owner">{{up.owner}}</p>
            <p id="code">{{up.id}}</p>
            <p hidden id="link">{{up.link}}</p>
            <p id="time">txtxddd</p>
        </div>
            <div class="reg_pigeon" style="text-align: center ;border: 1px solid grey; margin: 1px; padding:1%; box-shadow: 0px 0px 5px rgb(199, 198, 255);">
                <img class="reg_image" src="{{up.link}}" style="height: 10rem; float: left;">   
                <br>
                <p> " {{up.name}} "</p>
                <p>Ring: {{up.ring}}</p>
                <p>Last Release: {{up.loads}}</p>
                    <form  onsubmit="entry()"  action="{% url 'g_pigeon_race:entry' race.id %}" method="POST">
                        {%csrf_token%}
                        <input hidden class="pigeon" name="pigeon" value="{{up.id}}">
                        <input style="background-color: rgb(182, 238, 255); border-radius: 25px; width: 30%;" type="submit" value="Entry">
                    </form>
            </div>
                {% empty %}
                    <hr>
                    <h1 style="margin-top:5rem;">You have No Available Pigeon to Entry</h1>
                    <a style="text-decoration: none; padding: 5%;" href="{% url 'user:upload'  %}">Register more pigeon</a>
                    <br><hr><br>     
    {% endfor %}
{% endif %}
<div
    style=" border-radius: 5.5px; padding: 1.5rem; background-color: rgba(202, 197, 197, 0.628); width: 70%; margin: 1%;">
    <a style="text-decoration: none; padding: 5%;"
        href="{% url 'g_pigeon_race:races_registered' race_id=race.id %}">View Registered Pigeons on this Race</a>
    <br>
    <hr><br>
    <a style="text-decoration: none; padding: 5%;" href="{% url 'g_pigeon_race:view_loaded' id=race.id %}">view Loaded
        Pigeon on this Race</a>
</div>
<script>

    //get time 
            //get curent local time 
            const ti = new Date();
            const mo = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];
            const mn = mo[ti.getMonth()];
            const da = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            const dn = da[ti.getDay()];
            const md2 = ti.getDate();
            var hours = ti.getHours();
            var minutes = ti.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            var tn = hours + ':' + minutes + ' ' + ampm;


    function x(){
        z = document.querySelector("#link").innerHTML


        console.log(z);
    }
    function entry() {
        name = document.querySelector("#name").innerHTML;
        ring = document.querySelector("#ring").innerHTML;
        code = document.querySelector("#code").innerHTML;
        link = document.querySelector("#link").innerHTML;
        owner = document.querySelector("#owner").innerHTML;
        //time = tn;
        fetch('entry', {
            method: "POST",
            body:JSON.stringify({
                name:name,
                ring:ring,
                code:code,
                owner:owner,
              //  time:time,
                link:link
            })
        })


        // alert('success');
    }
</script>

<div style="height: 1000px;"></div>

{% endblock %}