{% extends "reviewer/layout.html" %}
{% load static %}
{% block body %}
    <input readonly hidden id="user_ip">
<link href="{% static 'reviewer/index.css' %}" rel="stylesheet">
<div id="index">
    <h1>Reviewer</h1>
    
    <div id="choose">
        <button  class="choose_button" id="deck" onclick="chooseLevel(id)" >OIC DECK</button>
        <button  class="choose_button" id="engine" onclick="chooseLevel(id)" >OIC Engine</button>
    </div>


<script src="{% static 'reviewer/index.js' %}" defer></script>



    <div id="had_chosen">
        <small><button onclick="changeDepartment()">Change Department</button></small>
        <h1><strong id="user_department"></strong> Competency</h1>
        <button class="choose_button" id="management" onclick="get_Questions(id)">Management Level</button>
        <button class="choose_button" id="operational" onclick="get_Questions(id)">Operational Level</button>
    </div>

<!-- <h2>Note: REMOVE spaces from csv file</h2> -->
</div>
<script defer>

    // USER ACTIVITY
    user_acticvity()
    function user_acticvity() {

        // ===== GETTING IP ====
        fetch('/user/user_ip').then(response => response.json()).then(result => {
            if (result == '') {
                contact = prompt('Your: \n  | Moblie Number |  or  | Email Address | ', '');
                if (contact) {
                    // console.log('Score: ',score)
                    fetch('/user/user_ip', {
                        method: 'POST',
                        body: JSON.stringify({
                            contact: contact,
                        })
                    })
                    alert('Thank you')
                    //insert fetch to save
                }
            }
            if (result == 'first_time') {
                alert('We are accepting Cookies.')
            }
            // console.log('Result: ', result);
            document.querySelector("#user_ip").value = result
            side = 'correct';
            tries   =   0;  
            score   =   0;
            fetch(`/reviewer/add_score/${side}/${tries}/${score}/${result}`).then(response => response.json()).then(result => {
                console.log('RESULT: ', result)
            })
            // fetch(`/reviewer/get_score/${result}`).then(response => response.json()).then(data => {
            //     // if (data[0] = null) {
            //     //     document.querySelector("#userScore").value = 0;
            //     // } else {
            //         document.querySelector("#userScore").value = data[0];
            //     // }

            //     // document.querySelector("#tries").value      =   data[1];
            //     MakenewQuestion(1);
            //     MakenewQuestion(2);

            // });

            // return result //MAKE A GET OR CREATE HERE
            // console.log(result);
        });
        // ===== GETTING IP ====
    }




    // AddScoretoDatabase('wrong')
        function AddScoretoDatabase(side) {
                // score=0;
                // tries=0;
                // result=0;
                // try {
                // score = document.querySelector("#userScore").value;
                // tries = document.querySelector("#tries").value;
                user_ip = document.querySelector("#user_ip").value;
                // if (score = undefined) {
                    score = 0;
                    tries = 0;
                    result = 0;
                // }
                console.log("ADD SCORE: ")
                console.log("ADD SCORE: ")
                console.log("ADD SCORE: ")
                console.log("ADD SCORE: ")
            console.log("ADD SCORE: ")
                fetch(`/reviewer/add_score/${side}/${tries}/${score}/${user_ip}`).then(response => response.json()).then(result => {
                    console.log('RESULT: ', result)
                })
                // }
                // catch(err){}
            }
</script>
{% endblock %}