{% extends "a_index/layout.html" %}

{% load static %}
    {% block body %}
    <link href="{% static 'a_index/colregs.css' %}" rel="stylesheet">
<div>
    <h1>Collision Regulation</h1>
    <section ></section>
    <ul class="m-types">
        <li>Rule 1</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, optio earum quas obcaecati quam magni ad, veniam tempore maxime harum, officiis rem dolore ut! Consectetur doloremque ullam praesentium veritatis a.</p>
        <li>Rule 2</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum ad amet, porro unde eveniet voluptate obcaecati dolorum itaque ipsum nam consequatur similique dolore, ut molestias sunt eum, omnis ipsa?</p>
        <li>Rule 3</li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio rem nulla fuga ab blanditiis illum delectus eos, voluptates facere quo voluptatibus quis repellendus et. Quasi quam vitae sint eius molestiae.</p>
        <li>Rule 4</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minus nisi dolore? Veritatis, iste consequuntur ratione ipsa nulla inventore, corrupti cupiditate vitae est deserunt iusto natus doloribus odio! Libero, suscipit.</p>
        <li>Rule 5 <a>Look OUT</a></li>
        <p>Every Vessel shall at all times maintain a proper look-out by sight and hearing as well as by all available means appropriate in the prevailing circumstances and conditions to make a full appraisal of the situation and of the risk of collision</p>
        <li>Rule 6</li>
        <li>Rule 7</li>
        <li>Rule 8 <a>Action to Avoid Collision</a></li>
        <p>Avoid getting in a close quarter situation</p>
        <li>Rule 9 <a>Narrow Channel</a></li>
        <p>Keep as near to the outer limit of the channel or fairway which lies on her starboardside <br> and vessel of less than 20 meters in length or sailing vessel are not to impede the passage of a vessel which can only navigate within narrow channel or fairway</p>
        <li>Rule 10 <a>Traffic Separation Scheme</a></li>
        <p></p>
        <p>ships crossing traffic lanes are required to make as nearly as practicable at right angles to the general direction of traffic flow <br>Fishing Vessels shall not impeded the passage of any vessel following a traffic lane "but are not banned from fishing" <br>Rule 9 states that "a vessel engaged in fishing shall not impede the passage of any other vessel navigating within a narrow channel or fairway"</p>
        <li>Rulie 11 <a>Conduct of Vessel in Sight of one another</a></li>
        <p>two vessel is deemed to be in sight of one another when one can observe the other by sight</p>
        <li>Rule 12 <a>Action to be taken When two sailing vessels are approaching one another</a></li>
    </ul>
</div>

    {% endblock %}