{% extends "a_index/layout.html" %}

{% block body %}

<style>
    body {
        margin: 0;
        padding: 0;
    }
.player_pigeon{
    height: 100px;
    width: auto;
    background: rgb(245,245,245);
    background: linear-gradient(270deg, rgba(245,245,245,1) 0%, rgba(207,207,207,1) 35%, rgba(183,183,183,1) 57%, rgba(138,138,137,1) 78%, rgba(109,109,108,1) 100%, rgba(33,33,32,1) 100%);    box-shadow: 0px 0px 5px grey;
    box-shadow: 0px 0px 5px grey;
    text-align: center;
    margin-bottom: 5%;
}
.player_pigeon>a {
    color: black;
    padding: 1%;
    background-color: rgb(226, 226, 255);
    border-radius:10px;
    top: 34%;
    position:relative;
    border: 1.5px solid rgb(136, 136, 255);
}
.player_pigeon_image {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    border-radius: 0px;
    float: left; 
}
.i-heading {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.i-heading>p {
    text-align: left;
}

.user-i{
    float: right;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;

}
</style>
<hr>
<hr>
    {% if user.is_authenticated %}
    <img class="user-i" src="{{request.user.email}}">    
        <h2>
            Good Day <strong>{{user.username}}</strong>
        </h2>
        
        
        <div class="i-heading">
            <h1>Player List </h1>
            <p>Total Player:{{user_count}}</p>
        </div>
        {% for users in au %}
            <div class="player_pigeon">
                <a href="{% url 'user:player' username=users.username %}">
                    <strong>{{users.username}}</strong>
                    <img class="player_pigeon_image" src="{{users.email}}" >
                </a>
            </div>
        {%endfor%}
    {%else%}
        <div>
            <h1>Sign in To use</h1>
        </div>
    {%endif%}







{%endblock%}