{% load static %}
<style>
    .aa {
        width: 50%;
        background-color: none;
        background: none;
        right:1px;
        z-index: 101;
    }
    .lef{
        background-color: none;
        background: none;
        right:1px;
    }
    .links {
        padding: 0.5rem;
        border-radius: 8px;

    }
</style>
        <div class="container-sub-2-1 a-right aa">
            <span><a class=""  href="{% url 'news:section' x=1 %}"><img class="h-icon th hg left" src="{% static 'app_images/politics.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'news:section' x=2 %}"><img class="h-icon th hg left" src="{% static 'app_images/sports.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'news:section' x=3 %}"><img class="h-icon th hg left" src="{% static 'app_images/health.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'news:section' x=4 %}"><img class="h-icon th hg left" src="{% static 'app_images/military.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'news:section' x=5 %}"><img class="h-icon th hg left" src="{% static 'app_images/business.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'news:section' x=6 %}"><img class="h-icon th hg left" src="{% static 'app_images/lifestyle.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'news:section' x=7 %}"><img class="h-icon th hg left" src="{% static 'app_images/biography.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'news:section' x=8 %}"><img class="h-icon th hg left" src="{% static 'app_images/maritime.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'news:section' x=9 %}"><img class="h-icon th hg left" src="{% static 'app_images/personal.png' %}" alt=""></a></span>
<br>
<span><a class="links" href="{% url 'news:publish' %}">Publish</a></span>
|
<span><a class="links" href="{% url 'news:index' %} ">Articles</a></span>

        </div>


