{% extends "a_index/layout.html" %}
{% load static %}

{% block body %}
{% include 'news/news_layout.html' %}

<style>
    input , textarea{
        background-color: rgb(255, 255, 255);
        
        border-radius: 8px;
        border:none;
        padding: 12px;
        margin: 1.2vw;
    }
    .form_section {
        /* background-color: red; */
        list-style-type: none;
        padding: 5px;
        margin: 5px;
    }
    li{
        padding: 2px;
        margin: 1.3px;
        font-size: large;
    }
    form {
        text-align: center;
    }
    .form_title {
        width: 35%;
    }
    .form_content{
        font-family:"Lucida Console", "Courier New", monospace;
        /* font-weight: 500;
        height: 40vw; */
        width: 50%;
    }

</style>


Articles: {{articles}}

<form method="POST" action="{% url 'news:publish' %}">
    {% csrf_token %}
    {{form.title}}
    <br>
    {{form.content}}
    <br>
    {{form.link}}
    <br>
    {{form.section}}

    
       <input type="submit" value="Publish">
</form>




















<div style="height: 1000px;"></div>
{% endblock %}

{% block script %}

{% endblock %}