{% extends "application/freedive/layout.html" %}
{% load static %}

{% block body %}
<link href="{% static 'freedive/events.css' %}" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" defer></script>
<script src="{% static 'freedive/events.js' %}" defer></script>
<br><br>
<div class="add-form-container box">
    {% if img_obj %}
        <form method="POST" action="{% url 'freedive:add_event' %}">
            <br><br>
            {% csrf_token %}
        
            From: <input class="date-input" required name="start-time" type="datetime-local">
        
            To: <input class="date-input" required name="end-time" type="datetime-local">
            <br>
            Cost: <input class="date-input" required name="event-cost" type="number" value="0" placeholder="How much">
            <br>
            Event-Type:
            <br><br>
            <select required name="event-type">
                <option value="Others">Others</option>
                <option value="Freedive">Freedive</option>
                <option value="Camping">Camping</option>
                <option value="Hiking">Hiking</option>
                <option value="Party">Party</option>
            </select>
            <br>
            <br>

            <input hidden readonly  style="display: none;" value="{{img_obj.image.url}}" name="event-image" placeholder="Insert Image Link ">

            <input type="text" name="event-name" class="question" id="nme" required autocomplete="off" />
            <label for="nme"><span>What's the <strong>EVENT</strong> name?</span></label>

        
            <textarea name="event-description" rows="2" class="question" id="msg" required autocomplete="off"></textarea>
            <label for="msg"><span>What is the event <strong>ABOUT</strong>?</span></label>
        
            <textarea name="contact" rows="2" class="question" id="msg2" required autocomplete="off"></textarea>
            <label for="msg2"><span>Give your <strong>Email or Number</strong></span></label>
        
            <input type="submit" value="Submit!" />
        </form>
        
    {% else %}
    <h1 style="text-align: left;">Event Picture</h1>
    <style>
        input{
            background-color: wheat;
            padding: 1rem;
            margin: 1rem;
            max-width: 80%;
            border-radius: 10px;

        }
        button {
            margin: 1rem;
            padding: 1rem;
            font-size: large;
            border:none;
            background-color: rgba(255, 99, 71, 0.548);
            text-shadow: wheat 0 0 10px;
            border-radius: 10px;
        }
        button:hover {
            background-color: turquoise;
        }

    </style>
    <form action="{% url 'freedive:events' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.image}}

        <button type="submit">Create Gig</button>
    </form>
    {% endif %}

</div>
{% endblock %}