{% extends "application/freedive/layout.html" %}

{% block body %}

<!-- @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"); -->
<style>
    




.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0 5px 1px ;
  border-radius: 1em;
  background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;

}

.user__info > small {
  color: #666;
}
</style>
<h1>List of Gigs</h1>

<div class="container">
  {% for e in events %}
  <div class="card">
    <div class="class__header">
      <img src="{{e.event_image}}" alt="card__image" class="card__image" width="600">
    </div>
    <small>
      &nbsp&nbsp {{e.start_time}}
    </small>
    <div class="card__body">
      <span class="tag tag-blue">
        {{e.event_type}}
      </span>
      <h4 style="margin:auto auto;"><a href="{% url 'freedive:participate_chat' side='check' room_id=e.id %}">{{e.event_name}}</a></h4>

      <details>
              <p>{{e.event_description}}
                <br><br>
                <span class="tag tag-red">
                  {{e.event_cost}} Php
                </span>

                <br>
  
              </p>
                    <small>
                      From: <br>&nbsp&nbsp {{e.start_time}}
                      <br>
                      To: <br>&nbsp&nbsp {{e.end_time}}
                    </small>
      </details>

    </div>
    <div class="card__footer">
      <div class="user">
        <img src="{{e.organizer_image}}" alt="user__image" class="user__image">
        <div class="user__info">

          <h5>{{e.organizer}}</h5>

          <small>
            Contact: {{e.organizer_contact}}<br>
          </small>
                    <small>
                      Posted: {{e.timestamp}}<br>
                    </small>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>











{% endblock %}
