{% extends "application/freedive/layout.html" %}
{% load static %}
{% block body %}
<link href="{% static 'freedive/socials.css' %}" rel="stylesheet">
<style>

</style>
<small>Made for <strong>PEOPLE</strong> who has all the <strong>TIME</strong> in the <strong>WORLD</strong></small>

<h1 class="room-name"> {{event.event_name}}</h1>

<form method="post" action="{% url 'freedive:send' room_id=event.id %}">
    {% csrf_token %}
    {{form.message}}
    <input type="submit" value="Send">
</form>


<div class="bubbleWrapper">
    {% for c in chats %}
    {% if c.sender == request.user.username %}
        <div class="inlineContainer own">
    {% else %}
        <div class="inlineContainer">
    {% endif %}
            <img class="inlineIcon" src="{{c.sender_image}}">
            <small>{{c.sender}}: </small>
            <div class="own otherBubble other">
                {{c.message}}
                <br>
                <span class="other timestamp"><small>{{c.timestamp}}</small></span>
            </div>

        </div>
        {% endfor %}
    </div>




    {% endblock %}