{% extends "a_index/layout.html" %}

{% load static %}

    {% block body %}
    <link rel="stylesheet" href="{% static 'a_socials/socials.css' %}">


<a href="{% url 'index:s' %}">got to s</a>
    <body>
        <div class="container-main-main">
            <div class="h-head">
                <h1 class="p-green">My Socials</h1>
                <ul>
                    <li>#foreignjohn19</li>
                </ul>
            </div>

            <div>
                <div class="in" style="width: 100%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quam beatae, iste porro reiciendis ipsam temporibus assumenda, earum ab dolorem veniam sint labore tempora, deserunt repellat dolor blanditiis pariatur quo!</div>  
                <video class="vid" style="width: 99.9%;position: absolute;left: 0px;position: fixed; top: 20%; height: 70%;" src="{% static 'a_socials/images/Untitled.mov' %}" autoplay controls>
                    <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
                  </video>
            </div>
        

        
            <div class="row">
                <div class="col-12 col-md-4 p-3 d-flex justify-content-center pb">
                    <div class="card">
                          <img class="zz card-img-top a" src="{% static 'a_socials/images/fb.png' %}" alt="Card image cap">
                            <a href="{% url 'index:map' %}" class="btn btn-primary bgc">View <strong>Facebook</strong></a>  
                    </div>
                </div>
        
                <div class="col-12 col-md-4 p-3 d-flex justify-content-center pb">
                    <div class="card">
                          <img class="zz card-img-top" src="{% static 'a_socials/images/fl.png' %}" alt="Card image cap">
                            <a href="{% url 'index:map' %}" class="btn btn-primary bgc">View <strong>Flickr</strong></a><script src="index/dis.js"></script>  
                    </div>
                </div>
                <div class="col-12 col-md-4 p-3 d-flex justify-content-center pb">
                    <div class="card">
                          <img class="zz card-img-top" src="{% static 'a_socials/images/ig.png' %}" alt="Card image cap">
                            <a href="{% url 'index:map' %}" class="btn btn-primary bgc">View <strong>Instagram</strong></a>  
                    </div>
                </div>    
                


                <div class="col-12 col-md-4 p-3 d-flex justify-content-center pb">
                    <div class="card">
                          <img class="zz card-img-top" src="{% static 'a_socials/images/yt.png' %}" alt="Card image cap">
                            <a href="{% url 'index:map' %}" class="btn btn-primary bgc">View <strong>Youtube</strong></a>  
                    </div>
                </div>
                <div class="col-12 col-md-4 p-3 d-flex justify-content-center pb">
                    <div class="card">
                          <img class="zz card-img-top" src="{% static 'a_socials/images/git.png' %}" alt="Card image cap">
                            <a href="{% url 'index:map' %}" class="btn btn-primary bgc">View <strong>Github</strong></a>  
                    </div>
                </div>
                <div class="col-12 col-md-4 p-3 d-flex justify-content-center pb">
                    <div class="card">
                          <img class="zz card-img-top" src="{% static 'a_socials/images/wordpress.png' %}" alt="Card image cap">
                            <a href="{% url 'index:map' %}" class="btn btn-primary bgc">View <strong>WordPress</strong></a>  
                    </div>
                </div>
                
            </div>
        
        <div class="s-padd"></div>
        </div> 

    {% endblock %}







