{% extends "a_index/layout.html" %}

{% load static %}
    {% block body %}
<style>
    textarea {
        background-color: rgb(181, 232, 255);
        width: 100%;
        height: 50%;
    }
</style>

<h1>This is Blog</h1>
<div class="b-container-main">
    <div class="b-container-sub-1">
        <form>
            <textarea class="b-textarea"  placeholder="What is your Content ??"></textarea>
            <input type="submit" value="Post">
        </form>
    </div>
    
<hr><hr>
{% for e in entries %}
{{e.title}}<br>
{{e.page}}
{% endfor %}
<hr><hr>


<script>
    blogs = "{{entries}}";
    console.log(blogs);
    </script>
<hr>
<hr>
<hr>
    <div>
        <form action="{% url 'blog:new_blog' %}" method="post" enctype="multipart/form-data" >
            {%csrf_token%}
 
            <div>{{post.as_p}}</div>
            <button type="submit">Upload</button>
            </form>
    </div>
    {{message}}message
    {% for e in entries %}
    {{e}}
    {{e.textarea}}
    {%endfor%}
</div>

    {% endblock %}