
{% extends "a_index/layout.html" %}
{% load static %}

{% block body %}
<style>
    input {
        background-color: rgba(255, 105, 180, 0.171);
        padding: 2%;
        display: block;
        color: wheat;
        font-size: larger;
        margin: 1%;
    }
    p{
        font-size: larger;
    }
    .magkano {background-color: rgba(153, 205, 50, 0.164);}

    form {
        margin: 10%; 
        background-color: rgba(78, 50, 205, 0.082);
        padding: 2%;
    }
</style>
{{n}}

{% if n > 12 %}
n is greater than 12
{% else %}
still less than 
{% endif %}
<hr>
<form method="post" action="{% url 'food:cook' %}">
    {% csrf_token %}
    <p><input hidden readonly required name="date" value="{% now 'jm' %}"></p>
    <p>Umaga<input required name="umaga" placeholder="Ulam">
        <input required name="umaga_cost" placeholder="Magkano" class="magkano">
    </p>

    <p>Tanhalian<input required name="tanghali" placeholder="Ulam">
        <input required name="tanghali_cost" placeholder="Magkano" class="magkano">
    
    </p>

    <p>Gabi<input required name="gabi" placeholder="Ulam">
        <input required name="gabi_cost" placeholder="Magkano" class="magkano">
    </p>
    <input class="btn btn-primary" type="submit">
</form>

{{today}}
{% for t in today %}

<p>{{t.date}}</p>
<p>{{t.umaga}}</p>
<p>{{t.tanghali}}</p>
<p>{{t.gabi}}</p>

<hr><hr>

{% endfor %}




{% endblock %}
{% block script %}
    <script src="{% static 'application/mail/inbox.js' %}">s</script>
{% endblock %}