{% extends "commerce/sale/layout.html" %}
{% load humanize %}
{% block body %}

<style>
    .flex {
        display: flex;
        flex-wrap: wrap;
    }
    .i-flex {
        /* background-color: rgba(121, 11, 3, 0.178); */

        margin: auto auto;
        width: fit-content;
        background: rgba(204, 204, 204, 0.158);    
        margin-bottom: 10px;
    }
    p {
        text-align: center;  
    }
    div>img {
        float: left;
        min-width: 140px;
        max-width:100%;
    }
    .order {
        opacity: 0.5;
        border:none;
        border-radius: 0px 0 10px 0px;
        color: rgb(255, 255, 255);
        text-shadow: rgb(0, 0, 0) 2px 2px 10px;
        width: fit-content;
        max-width: 50%;
        font-size: 1.35rem;
        min-height: 2rem;
        text-align: center;
        padding: 0.3rem;
    }
    .active {
        opacity: 1;
        background-color: rgb(64, 136, 28);
        border-radius: 0px 10px 10px 10px;
        color: rgb(255, 240, 29);
    }
    .order:hover {
        opacity: 1;
        background: brown;
        color: white;
    }
    /* to blur image
.card {
	color: white;
	text-shadow: 2px 2px 2px #000000;
    box-shadow: 0 0 5px 0 ;
    background: inherit;
    backdrop-filter: blur(10px);
} */
    .i-p {
        position: absolute;
        z-index: -1;
        /* box-shadow: inset 0 0 5px 5px rgb(102, 102, 102);
        text-align: center; */
        /* border-radius: 0 10px 10px 10px; */
        /* sc */
  /* margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */
  /* padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
   */
   width: 100%;
   text-align: center;
     margin: auto auto;
     height: 20rem;
        color: rgb(4, 61, 248);
        left: 0;
        top: 0;
        overflow: scroll;
        color: rgb(7, 3, 3);
	text-shadow: 2px 2px 2px #b9b8b8;

    background: inherit;
    backdrop-filter: blur(50%);
    backdrop-filter: saturate(180%) blur(10px);    
    background-image: url('{{i.link}}');
    height: auto;
    -webkit-backdrop-filter: blur(10px);

    border-radius: 0 15px 5.5px 15px;

    }
    .i-img {
        z-index: 30;
        border-radius: 0 15px 5.5px 15px;
    }
    .form-container {
        height: fit-content;
    }

</style>



<!--
    style="position:absolute;left:0;top:0;"
-->
<script>
document.addEventListener('DOMContentLoaded',()=>{
    all()
})
function all() {
    var x, i;
    x = document.querySelectorAll('.i-p');
    for (i = 0; i < x.length; i++) 
    {x[i].style.opacity = '0';}
}
    function p(id)
    {
        // x = document.querySelector(`.${id}`).style.display = 'block';
        // y = document.querySelector(`#${id}`).style.display = 'none';
        y = document.querySelector(`#${id}`);
        x = document.querySelector(`.${id}`);

        // y.style.opacity = 0;
        y.style.zIndex = -1;

        x.style.zIndex = 1;
        x.style.opacity = 1;
    }
    function img(id) {
        // document.querySelector(`.${id}`).style.display = "none";
        // x = document.querySelector(`.${id}`).style.display = 'block';
        y = document.querySelector(`#${id}`);
        x = document.querySelector(`.${id}`);
        
        // y.style.opacity = 0;
        y.style.zIndex = -1;

        x.style.zIndex = 1;
        x.style.opacity = 1;
    }
</script>

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<style>
    .item-container {
        position:relative; height:fit-content;
    }
.flex  ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex  li {
  height: 40vh;
  flex-grow: 1;
    margin:10px;

}

.flex  li:last-child {
  flex-grow: 10;
}

.flex  img {
  height: 300px;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
    .flex  li {
    height: 30vh;
  }
}
@media (max-height: 480px) {
    .flex  li {
    height: 80vh;
  }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .flex  ul {
    flex-direction: row;


  }

  .flex li {
    height: auto;
    width: 100%;
    
  }

  .flex img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
.lower-right {
    font-size: xx-small;
}
* {
    border-radius: 30px;
}
</style>

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->



<span class="flex">
    {% for i in item %}
    <span class="i-flex">
        <form class="form-container" method="POST" action="{% url 'sale:order' item_id=i.id hashed=request.user.first_name i_price=i.price %}">
            {% csrf_token %}
            <div class="item-container">
                <img id="img-{{i.id}}"  class="i-img p-{{i.id}}" onclick="img('img-{{i.id}}')" src="{{i.link}}">
                <span  id="p-{{i.id}}" class="i-p img-{{i.id}}"  onclick="p('p-{{i.id}}')">
                    <br>
                    <br>
                    {{i.description}}<br>
                    <a>{{i.title}}</a><br>
                    <br>
                        <button class="order active" >
                            {% if i.num_order >= 2 %}
                            <a >{{i.num_order}}<b style="font-size: xx-small;">Orders</b>
                            <br> 
                            {% endif %}
                            ₱ {{i.price|intcomma}}</a>
                        </button>  
                        <br>
                    <a style="float: right; bottom: 0;">
                        <b class="lower-right">location</b>
                        <br>
                        <b class="lower-right">{{i.owner}}</b> 
                            <br>
                        <b class="lower-right">category: {{i.category}}</b> 
                    </a>
                </span>
                
                <button class="order" style="position:absolute;left:0;top:0;z-index: 5;">
                    {% if i.num_order >= 2 %}
                    <a style="float: right;">{{i.num_order}}<b style="font-size: xx-small;">Orders</b>
                    <br> 
                    {% endif %}
                    {% if i.bought >= 2 %}
                    <a style="float: right;">{{i.bought}}<b style="font-size: xx-small;">Bought</b>
                    <br> 
                    {% endif %}
                    ₱ {{i.price|intcomma}}</a>
                </button>    
            </div>
        </form>
    </span>
    {% endfor %}
</span>
{% endblock %}