

{% include 'commerce/sale/tabs.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    </head>



<style>
    body {
        /* background: rgb(2,0,36); */
        background: white;
        background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(176,242,255,0.4500175070028011) 100%, rgba(0,212,255,1) 100%);
        /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(176,242,255,0.7525385154061625) 100%, rgba(0,212,255,1) 100%); */
/* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,5,18,1) 0%, rgba(57,37,43,1) 20%, rgba(82,71,70,1) 41%, rgba(58,70,55,1) 100%, rgba(110,108,99,1) 100%, rgba(135,142,126,1) 100%, rgba(108,119,101,1) 100%, rgba(153,167,145,0.623686974789916) 100%); */

    }
</style>
    <body >
    <div style="margin-left:3em;margin-right: 3em;">

        {% block body %}
        {% endblock %}
    </div>




<div style="height: 500px;"></div>
    </body>
</html>
