{% extends "commerce/sale/layout.html" %}
{% load humanize %}
{% block body %}

<style>
       .grid-container {
  display: flex;
justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: nowrap; */
  flex-flow: row wrap;
  /* justify-content: flex-start; */
  /* justify-content:right;
  align-items: right; */
  /* align-content: flex-end; */
  /* grid-template-columns: auto auto auto; */
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.span {
    float: right;
    position: absolute;
    text-align: center;
}
.grid-item {
    width: 100%
}
.grid-container2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(206, 205, 255);
    column-gap: 20px;
    color: black;
    padding: 0.5rem;
    justify-content: space-evenly;
}
.f-title {
    width: 100%;
    text-align: center;
}
.f-detail {
    text-align: center;
}
</style>
<h1>Item Lists</h1>
<div class="grid-container">
    {% for i in items %}
            <form>
                <div class="grid-container2" style="position: relative;">
                    <div class="f-title"><h4>{{i.title}}</h4></div>
                    <img style="width: 100px;height: auto;" src="{{i.link}}">
                    <span class="f-detail">
                        <div>Bought: {{i.bought}}</div>
                        <div>Orders: {{i.num_order}}</div>
                        <div>P {{i.price}}</div>
                        <div>{{i.notavailable}}</div>
                        <button> Stock</button>
                    </span>
                    <span class="f-detail">
                        <div>{{i.time}}</div>
                        <div>time left</div>
                        <button>Update</button>
                    </span>
                </div>
            </form>
    {% endfor %}
</div>

{% endblock %}