{% extends "a_index/layout.html" %}

{% load static %}
    {% block body %}
    <link rel="stylesheet" href="{% static 'application/application.css' %}">
    <link rel="stylesheet" href="{% static 'games/games.css' %}">

<div class="games_container">
    <div class="game" >
        <img src="{% static 'application/images/freedive.png' %}" style="background-color: blanchedalmond;">
        <a href="{% url 'freedive:index' %}">freedive</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/ubx.png' %}">
        <a href="{% url 'ubx:index' %}">UBX</a>
    </div>
    
    <div class="game">
        <img src="{% static 'application/images/hiring.png' %}">
        <a href="{% url 'hiring:index' %}">Hiring</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/blog.png' %}">
        <a href="{% url 'blog:index' %}">Blogs</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/course_booking.png' %}">
        <a href="{% url 'course_booking:index' %}">Course Booking</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/news.png' %}">
        <a href="{% url 'news:index' %}">News</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/mail.png' %}">
        <a href="{% url 'application:mail' %}">E-Mail</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/earthquake.png' %}">
        <a href="{% url 'application:earthquake' %}">World Earthquake Report</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/calendar.png' %}">
        <a href="{% url 'application:calendar' %}">Calendar</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/social_network.png' %}">
        <a href="{% url 'social_network:index' %}">Social Network</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/qrcode.png' %}">
        <a href="{% url 'application:qrcode' %}">qrcode</a>
    </div>

    <div class="game">
        <img src="{% static 'application/images/food.png' %}">
        <a href="{% url 'food:index' %}">Food</a>
    </div>

</div>
    {% endblock %}
