{% extends "a_index/layout.html" %}

{% load static %}
    {% block body %}
    <link href="{% static 'a_index/blog.css' %}" rel="stylesheet">
    <h1>Blog </h1>
    <h2><a href="{% url 'blog:index' %}">Post a blog</a></h2>
        <div class="container-main-3 blog-cutter">
            <div class="container-sub-3 sub-3-img blog-img">
                <img src="{% static 'images/item.png' %}" alt="">
            </div>
            <div class="container-sub-3 blog-p">
                <p>The Main Purpost of One's Life is too enjoy existence in a Geniune way</p>
            </div>
        </div>

        <div class="container-main-3 blog-cutter">
            <div class="container-sub-3 blog-p ">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis rerum eaque quam, deserunt excepturi fuga iste debitis! Amet quis obcaecati impedit aliquam consectetur ad nam libero vitae, illo ut. Maxime.</p>
            </div>
            <div class="container-sub-3 sub-3-img blog-img">
                <img src="{% static 'images/item.png' %}" alt="">
            </div>
        </div>   
        
        <div class="container-main-3 blog-cutter">
            <div class="container-sub-3 sub-3-img blog-img">
                <img src="{% static 'images/item.png' %}" alt="">
            </div>
            <div class="container-sub-3 blog-p">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis rerum eaque quam, deserunt excepturi fuga iste debitis! Amet quis obcaecati impedit aliquam consectetur ad nam libero vitae, illo ut. Maxime.</p>
            </div>
        </div>

        <div class="container-main-3 blog-cutter">
            <div class="container-sub-3 sub-3-img blog-img">
                <img src="{% static 'images/item.png' %}" alt="">
            </div>
            <div class="container-sub-3 blog-p">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis rerum eaque quam, deserunt excepturi fuga iste debitis! Amet quis obcaecati impedit aliquam consectetur ad nam libero vitae, illo ut. Maxime.</p>
            </div>
        </div>


        <h3>My Google Maps Demo</h3>
        <!--The div element for the map -->
        <div id="map"></div>
    
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script
          src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
          async
        >
    function initMap() {
  // The location of Uluru
  const uluru = { lat: -25.344, lng: 131.036 };
  // The map, centered at Uluru
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 4,
    center: uluru,
  });
  // The marker, positioned at Uluru
  const marker = new google.maps.Marker({
    position: uluru,
    map: map,
  });
}
</script>
        <style>
            /* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
        </style>
{% endblock %}


