{% extends "a_index/layout.html" %}

{% block body %}
{% load static %}
<script src="{% static 'a_index/index.js' %}"></script>


<div class="container-main-main">

    <div class="container-main-3">
        <div class="container-sub-3 sub-3-img m-fadeIn">
            <img src="{% static 'images/img.png' %}">
        </div>
        <div class="container-sub-3 sub-3-p">
            <p class="m-types">"Good Day to you <strong><a id="u_name"></a></strong>, I am a self taught Programmer, with Grit, Time and Dedication "</p>
        </div>
    </div>

    <div class="container-main-4">
        <div class="container-sub-4">
            Some of my Works
        </div>
        <div class="container-sub-4">
        </div>
    </div>
    <div class="container-main-5 m-types-2">
        <div class="container-sub-5">
            <img class="sub-5-img"  src="{% static 'images/item.png' %}">
        </div>
        <div class="container-sub-5">
            <img class="sub-5-img"  src="{% static 'images/item.png' %}">
        </div>
        <div class="container-sub-5">
            <img class="sub-5-img"  src="{% static 'images/item.png' %}">
        </div>
        <div class="container-sub-5">
            <img class="sub-5-img"  src="{% static 'images/item.png' %}">
        </div>
        <div class="container-sub-5">
            <img class="sub-5-img"  src="{% static 'images/item.png' %}">
        </div>
        <div class="container-sub-5">
            <img class="sub-5-img"  src="{% static 'images/item.png' %}">
        </div>
        <div class="container-sub-5">
            <img class="sub-5-img"  src="{% static 'images/item.png' %}">
        </div>
    </div>
</div>







         











{% endblock %}