{% extends "a_index/layout.html" %}

{% block body %}
{% load static %}
<script src="{% static 'a_index/images/index.js' %}"></script>

<link href="{% static 'a_index/styles.css' %}" rel="stylesheet">
<link href="{% static 'a_index/500.css' %}" rel="stylesheet">
<div class="container-main-main ">

    <div class="container-main-main">
        <div class="container-main-3">
            <div class="container-sub-3 sub-3-img m-fadeIn ">
                <div class="sp  ins th hg"></div>
            </div>
            <div class="th container-sub-3 sub-3-p">
                <p class="m-types p-green  ">"Good Day to you <strong><a id="u_name"></a></strong>, I am a self taught Programmer, with Grit, Time and Dedication "</p>
                <div class="right-it">J.Foreign</div>
            </div>
        </div>
    </div>
    
      

     <div class="container-main-main ">
         <div class="container-sub-4 th mar-ad">
             <h1 class="robo app p-green">My Stacks</h1>
         </div>
     </div> 


<style>
    .m-icon {
        z-index: 100;
        position: relative;
    }
    .img-fluid {
        opacity: 0.4;
    }
</style>
     <div class="test flex-container btm-icon-container ">

        <div class="a-css3 btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-flask.png' %}">
        </div>
        <div class="i-css3 i-name">
            <h1>Flask</h1>
            <p>Web Framework written in Python Lang. an precedent version to Django,</p>
        </div>


        <div class="a-css3 btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-c.png' %}">
        </div>
        <div class="i-css3 i-name"><h1>C Language</h1><p>the oldest language where popular application and and higher language are written in,</p></div>
    

        <div class="a-docker btm-icon-cont m-icon ">
            <img class=" img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-sqlite.png' %}">
         </div>
         <div class="i-docker i-name i-o"><h1>Stuctured Query Language Lite</h1><p>used for storing data, small but fast</p></div>
     

        <div class="a-javascript btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-duck.png' %}">
        </div>
        <div class="i-javascript i-name"><h1>Rubber Duck</h1><p>Stress Reliever</p></div>
    

        <div class="a-expressjs btm-icon-cont m-icon ">
            <img class=" img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-cat.png' %}">
         </div>
         <div class="i-expressjs i-name i-o"><h1>50 50</h1><p>Libraries of world's tech leader</p></div>
     
        <div class="a-docker btm-icon-cont m-icon ">
            <img class=" img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-post.png' %}">
         </div>
         <div class="i-docker i-name i-o"><h1>PostGresSQL</h1><p>used for storing data</p></div>
     
        <div class="a-expressjs btm-icon-cont m-icon ">
            <img class=" img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-json2.png' %}">
         </div>
         <div class="i-expressjs i-name i-o"><h1>JavaScript Object Notation</h1><p>used for transmission of data thru JavaScript</p></div>
     

        <div class="a-sass btm-icon-cont m-icon ">
            <img class=" img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-selenium.png' %}">
         </div>
         <div class="i-sass i-name i-o"><h1>Selenium</h1><p>framework for web applications testing and controlling</p></div>
     
        <div class="a-sass btm-icon-cont m-icon ">
           <img class=" img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-sass.png' %}">
        </div>
        <div class="i-sass i-name i-o"><h1>Sass</h1><p>used in advance html designing</p></div>
    
        <div class="a-postgress btm-icon-cont m-icon">
            <img class="img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-postman.png' %}">
        </div>
        <div class="i-postgress i-name"><h1>Postman</h1><p>Under Construction, used as communication to database</p></div>
    
        <div class="a-photoshop btm-icon-cont m-icon">
            <img class="img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-ps.png' %}">
        </div>
        <div class="i-photoshop i-name"><h1>Photoshop</h1><p>for advance image editing/graphic arts</p></div>
    
        <div class="a-vsc btm-icon-cont m-icon">
            <img class="img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-vsc.png' %}">
        </div>
        <div class="i-vsc i-name"><h1>Visual Studio Code</h1><p>for advance code editor filled with useful extensions and packages</p></div>
        
        <div class="a-github btm-icon-cont m-icon node">
            <img class="img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-github1.png' %}">
        </div>
        <div class="i-github i-name"><h1>Github</h1><p>repository hosting services, provide convenient way to collaborate,</p></div>
    
        <div class="a-django btm-icon-cont m-icon">
            <img class="img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-django2.png' %}">
        </div>
        <div class="i-django i-name"><h1>Django</h1><p>a Framework mainly used for Python Language, developed by developers for developers per se, provides html anti hack/spam security </p></div>
    
        <div class="a-docker btm-icon-cont m-icon">
            <img class="img-fluid expd" src="{% static 'a_index/images/bottom/icons/logo-docker.png' %}">
        </div>
        <div class="i-docker i-name"><h1>Docker</h1><p>an open source container, works like a lightweight virtual computer</p></div>
    
        <div class="a-python btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-python.png' %}">
        </div>
        <div class="i-python i-name"><h1>Python</h1><p>Language mainly used for machine learning, data science</p></div>
    
        <div class="a-javascript btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-javascript.png' %}">
        </div>
        <div class="i-javascript i-name"><h1>JavaScript</h1><p>Language used in broad field from designing to hacking</p></div>
    
        <div class="a-bootstrap btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-bootstrap.png' %}">
        </div>
        <div class="i-bootstrap i-name"><h1>Bootstrap</h1><p>an online aid for web designing, ease the disect coding </p></div>
    
        <div class="a-css3 btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-css3.png' %}">
        </div>
        <div class="i-css3 i-name"><h1>Cascading Style Sheet Level3</h1><p>html extension used for designing web pages</p></div>
    
        <div class="a-expressjs btm-icon-cont m-icon node">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-expressjs.png' %}">
        </div>
        <div class="i-expressjs i-name"><h1>Express JS</h1><p>Under Construction, Framework for Node JS </p></div>
    
        <div class="a-git btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-git.png' %}">
        </div>
        <div class="i-git i-name"><h1>Global Information Tracker</h1><p>mainly used for collaborating large projects</p></div>
    
        <div class="a-gitlab btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-gitlab-ci' %}-cd.png">
        </div>
        <div class="i-gitlab i-name"><h1>GitLab</h1><p>lightweight hosting of repositories, collaborations</p></div>
    
        <div class="a-heroku btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-heroku.png' %}">
        </div>
        <div class="i-heroku i-name"><h1>Heroku</h1><p>a cloud container used mainly used to deploy applications which requires a running server </p></div>
    
        <div class="a-html5 btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-html5.png' %}">
        </div>
        <div class="i-html5 i-name"><h1>Hyper Text Markup Language 5</h1><p>a modern version used in surfing contents from world wide web</p></div>
    
        <div class="a-mongodb btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-mongodb.png' %}">
        </div>
        <div class="i-mongodb i-name"><h1>Mongo DB</h1><p>Under constraction, an open source database management</p></div>
    
        <div class="a-nodejs btm-icon-cont m-icon node">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-nodejs.png' %}">
        </div>
        <div class="i-nodejs i-name"><h1>Node JS</h1><p>Under Construction, extension for JavaScript</p></div>
    
        <div class="a-react btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-react.png' %}">
        </div>
        <div class="i-react i-name"><h1>React</h1><p> user interface lightweight and realtime data rendering</p></div>
    
        <div class="a-rest btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-rest.png' %}">
        </div>
        <div class="i-rest i-name"><h1>Rest</h1><p>Under Construction</p></div>
    
        <div class="a-sublime btm-icon-cont m-icon">
            <img class="img-fluid " src="{% static 'a_index/images/bottom/icons/logo-sublime-text' %}-3.png">
        </div>
        <div class="i-sublime i-name"><h1>Sublime</h1><p>lightweight text editor</p></div>
    </div>


    <!-- UNDER CONSTRUCTION -->
    <!-- CONSTRUCTION SITE -->
    <link href="{% static 'a_index/commerce/container.css' %}" rel="stylesheet">
    <div class="color_it commerce_container">
        <div class="commerce-container2">
            <div class="container-main-4">
                <div class="container-sub-4 th">
                    <h1 class="robo p-green">Project</h1>
                </div>
                <div class="container-sub-4 th">
                    <h1 class="robo p-green">Commerce</h1>
                </div>
            </div>
            <span class="invest-pic">
            <a href="{% url 'index:commerce' %}">
            <img class="commerce-hover" src="{% static 'commerce/images/invests.png' %}">
            </a>
            </span>
            
            <span class="trade-pic">
            <a href="{% url 'index:commerce' %}">
            <img class="commerce-hover" src="{% static 'commerce/images/invest.png' %}">
            </a>
            </span>
            <span class="auction-pic">
            <a href="{% url 'index:commerce' %}">
            <img class="commerce-hover" src="{% static 'commerce/images/auction.png' %}">
            
            </a>
            </span>
            <span class="store-pic">
            <a href="{% url 'index:commerce' %}">
            <img class="commerce-hover" src="{% static 'commerce/images/store.png' %}">
            </a>
            </span>
            <span class="bank-pic">
            <a href="{% url 'index:commerce' %}">
            <img class="commerce-hover" src="{% static 'commerce/images/bank.png' %}">
            </a>
            </span>
        </div>
    </div>
    <!-- UNDER CONSTRUCTION -->
    <!-- END SITE -->
    <hr><hr>


    <div class="container-main-main">

        <div class="container-main-4">
            <div class="container-sub-4 th">
                <h1 class="robo p-green">Project</h1>
            </div>
            <div class="container-sub-4 th">
                <h1 class="robo p-green">Application</h1>
            </div>
        </div>

        <style>
        @import url('https://fonts.googleapis.com/css2?family=Licorice&family=Work+Sans:wght@100&display=swap');            
        /* @import url('https://fonts.googleapis.com/css2?family=Licorice&family=Work+Sans:ital,wght@0,100;0,400;1,900&display=swap'); */
            .pad {
        padding:15px;
        }
        .container-sub-5 {
            /* max-height: 50%; */
            /* width: 45%; */
            text-align: justify;
            text-justify: inter-word;
        }
        .container-main-5 {
            position: relative;
            z-index: 10;
        }
        .zz {
            float: left;
        }
        .application-details {
            /* display: none; */
            font-size: 2.5vh;
            /* font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; */
            /* font-family: "Mukta", sans-serif; */
            font-family: 'Licorice', cursive;
            font-family: 'Work Sans', sans-serif;
            /* font-family: "Work Sans", sans-serif; */
            padding-left: 1.5rem;
        }
        .application-details > strong {
            background-color: rgba(255, 68, 0, 0.336);
            font-weight: 800;
            padding: 0.40rem;
            margin-bottom: 0.8rem;
            font-size: x-large;
        }


        </style>
            <div class="container-main-5">

                <div class="container-sub-5">
                    <a href="{% url 'event:home' %}">
                        <img class="sub-5-img zz pad" src="{% static 'application/images/event.png' %}" >
                    </a>
                    <p class="application-details">
                        <strong>Events Compiler</strong>
                        <br>
                        &nbsp&nbsp Spare of my personal blog, I have my old personal blog here 
                    </p>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'blog:index' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'application/images/blog.png' %}">
                   </a>
                   <p class="application-details">
                       <strong>Personal Blog</strong>
                       <br>
                        &nbsp&nbsp Spare of my personal blog, I have my old personal blog here <a style="text-decoration: none;" href="http://johndcom.wordpress.com">johndcom.wordpress</a>
                   </p>
               </div>
                <div class="container-sub-5">
                    <a href="{% url 'application:course_booking' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'application/images/course_booking.png' %}">
                    </a>
                    <p class="application-details">
                        <strong>Course Booking</strong>
                        <br>
                        &nbsp&nbsp App made for booking of online courses. Still under construction since i have no online course to offer
                    </p>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'application:news' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'application/images/news.png' %}">
                    </a>
                    <p class="application-details">
                        <strong>Online Publishing House</strong>
                        <br>
                        &nbsp&nbsp For news update, can be view by category Publish you News here!
                    </p>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'application:mail' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'application/images/mail.png' %}">
                    </a>
                    <p class="application-details">
                        <strong>Mail</strong>
                        <br>
                        &nbsp&nbsp Wanting to message someone? this is a built in email in my environment
                    </p>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'application:earthquake' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'application/images/earthquake.png' %}"><script src="index/dis.js"></script>
                    </a>
                    <p class="application-details">
                        <strong>Earthquake</strong>
                        <br>
                        &nbsp&nbsp By connecting to US global earthquake monitoring system his app determines all the earthquake around the world. ( due to security issues new update require certificate for aceess )
                    </p>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'application:calendar' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'application/images/calendar.png' %}">
                    </a>
                    <p class="application-details">
                        <strong>Smart Calendar</strong>
                        <br>
                        &nbsp&nbsp using Python language automatically code a calendar, can be integrated with a lot of feature
                    </p>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'social_network:index' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'application/images/social_network.png' %}">
                    </a>
                    <p class="application-details">
                        <strong>Social Network</strong>
                        <br>
                        &nbsp&nbsp Share your thoughts and befriend, socialize virtually with people around the world
                    </p>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'application:qrcode' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'application/images/qrcode.png' %}">
                    </a>
                    <p class="application-details">
                        <strong>QR Code Generator</strong>
                        <br>
                        &nbsp&nbsp Generate a link QR code for free. It uses a python language to hash the link to QR code image
                    </p>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'food:index' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'application/images/food.png' %}">
                    </a>
                    <p class="application-details">
                        <strong>Food Scheduler</strong>
                        <br>
                        &nbsp&nbsp Community who has cooking routine, helps distinguish who is the cook and the cost per meal, and total cost, 
                        <br>
                        helps people access cheaper food cost
                    </p>
                </div>


            </div>

            
                <div class="container-main-4">
                    <div class="container-sub-4 th">
                        <h1 class="robo p-green">Some of my Project</h1>
                    </div>
                    <div class="container-sub-4 th">
                        <h1 class="robo p-green">Entertainments</h1>
                    </div>
                </div>

            <div class="container-main-5">

                <div class="container-sub-5">
                    <a href="{% url 'street_race:index' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'games/images/logo3.png' %}">
                    </a>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'games:addition' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'games/images/math.png' %}">
                    </a>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'games:color_game' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'games/images/logo.png' %}">
                    </a>
                </div>
                <div class="container-sub-5">
                    <a href="{% url 'g_pigeon_race:index' %}">
                    <img class="sub-5-img zz pad"  src="{% static 'games/images/pigeon_race.png' %}">
                    </a>
                </div>
            </div>
<!--Some Projects-->



</div>

<!-- Maps -->
<!-- Contacts -->
<br><br>
<br><br>
<br><br>
<h1>Contact Me</h1>
<link rel="stylesheet" href="{% static 'map/map.css' %}">
<div class="container-main-maps">
    <div class="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7949426.37729477!2d119.57401255460233!3d13.377870856738133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sph!4v1628821992885!5m2!1sen!2sph" ></iframe>
        <div class="map-form-container">
                <div class="mb-3">
                    <input name="sender" type="email" class="form-control" id="sender" placeholder="Your Email">
                </div>
                <div class="mb-3">
    
                     <strong><div id="rec" style="font-size: 30px;"></div></strong>
                    <label for="exampleFormControlTextarea1" class="form-label">Say Something</label>
                    <input  name="body" type="textarea" class="form-control ta" id="compose-body" rows="3" value="Hi John, I like your Website, ">
                </div>
                <input type="submit" onclick="cc()" value="Send"class="btn btn-primary">    

        </div>
    </div>
</div>
<script>
    function cc() {
const body = document.querySelector('#compose-body').value;
const subject = document.querySelector("#sender").value;
const recipients = 'm@l.com';

alert('send');
fetch('/app_mail/application/contact', {
  method: 'POST',
  body: JSON.stringify({
      recipients: recipients,
      subject: subject,
      body: body
  })
})
.then(response => response.json())
.then(result => {
    // Print result
    console.log(result);
    load_mailbox('sent');
});
alert('message sent');
load_mailbox('sent');
console.log('sending');
}
</script>







         











{% endblock %}