{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My WebPage</title>

    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'a_index/moving.css' %}" rel="stylesheet">
    <link href="{% static 'colregs/colregs.css' %}" rel="stylesheet">
    <link href="{% static 'blog/blog.css' %}" rel="stylesheet">
    <link href="{% static 'a_street_race/street_race.css' %}" rel="stylesheet">
<!---<<<-->
<!--disable right_Click-->
<!-- <script src="{% static 'a_index/dis.js' %}"></script> -->

    <link rel="stylesheet" href="{% static 'a_index/1000.css' %}">
    <link rel="stylesheet" href="{% static 'a_index/500.css' %}">
    <link href="{% static 'a_index/styles.css' %}" rel="stylesheet">

    <div class="container-main">
        
        <div class="container-main-1">
            <a class="red a-left">!! This Web requires high computing power !!</a>
            <h1 class="o-green">John Foreign</h1>
            
        </div>

        <div class="container-sub-2-1 a-right">
            <span><a class=""  href="{% url 'index:index' %}"><img class="h-icon th hg" src="{% static 'a_index/images/home.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'index:social' %}"><img class="h-icon th hg" src="{% static 'a_index/images/socials.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'index:blog' %}"><img class="h-icon th hg" src="{% static 'a_index/images/blog.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'index:map' %}"><img class="h-icon th hg" src="{% static 'a_index/images/map.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'index:games' %}"><img class="h-icon th hg" src="{% static 'a_index/images/games2.png' %}" alt=""></a></span>
            <span><a class=""  href="{% url 'application:application' %}"><img class="h-icon th hg" src="{% static 'a_index/images/apps2.png' %}" alt=""></a></span>
        </div>
</head>
<!---end-->
<body>
    <div class="container-main-main" style="height: 1000px; height: fit-content;">
        {% block body %}






 

        {% endblock %}
    </div>
</body>

</div>
<div class="container-main-6 footer ">
    
    <div class="container-sub-6 red">+639 5685 43802</div>
    <div class="container-sub-6 ">dayo_john16@yahoo.com</div>
    <div class="container-sub-6 ">dayojohn16@gmail.com</div>
</div>
<!-- <script>
    function load(month){
    u_name = prompt('To continue Please tell me your First Name:', 'Jane Doe');
fetch(month, {
    method: 'POST',
    body: JSON.stringify({
        name: u_name
    })
})
.then(function(response){
    return response.text()
})
.then(function(html){
    document.querySelector(".log").innerHTML = html;
    document.querySelector(".input-log").innerHTML = "If you want to see the codes please Contact Me";
});

}
    document.addEventListener("DOMContentLoaded", ()=>{
        load(12);
    })
</script> -->




</html>