{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .client {
            border:none;
            border-radius: 10px;
            background-color: burlywood;
            padding: 0.2em;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
            font-size: larger;
        }

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My WebPage</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{% static 'a_index/moving.css' %}" rel="stylesheet">
    <link href="{% static 'colregs/colregs.css' %}" rel="stylesheet">
    <link href="{% static 'blog/blog.css' %}" rel="stylesheet">
    <link href="{% static 'a_street_race/street_race.css' %}" rel="stylesheet">
<!---<<<-->
<!--disable right_Click-->
<script src="{% static 'a_index/dis.js' %}"></script>


    <link rel="stylesheet" href="{% static 'a_index/1000.css' %}">
    <link rel="stylesheet" href="{% static 'a_index/500.css' %}">
    <link href="{% static 'a_index/styles.css' %}" rel="stylesheet">

    <div class="container-main">
        <div class="container-main-1">
            <a class="red a-left">!! This Web requires high computing power !!</a>
            <h1 class="o-green">John Foreign</h1>
        </div>

        <div class="container-sub-2-1 a-right" style="z-index: 100;">
            {% if request.user.is_anonymous %}
            <span><a class=""  href="{% url 'user:login' %}">Login</a></span>
            {% else %}
            <span><a class=""  href="{% url 'user:logout' %}">Logout</a></span>
            {% endif %}


            <span><a class="zindex"  href="{% url 'index:index' %}"><img class="h-icon th hg" src="{% static 'a_index/images/home.png' %}" alt=""></a></span>
            <span><a class="zindex"  href="{% url 'index:social' %}"><img class="h-icon th hg" src="{% static 'a_index/images/socials.png' %}" alt=""></a></span>
            <span><a class="zindex"  href="{% url 'index:games' %}"><img class="h-icon th hg" src="{% static 'a_index/images/games2.png' %}" alt=""></a></span>
            <span><a class="zindex"  href="{% url 'index:commerce' %}"><img class="h-icon th hg" src="{% static 'a_index/images/commerce.png' %}" alt=""></a></span>
            <span><a class="zindex"  href="{% url 'application:application' %}"><img class="h-icon th hg" src="{% static 'a_index/images/apps2.png' %}" alt=""></a></span>
        </div>
</head>
<!---end-->
<body>
    <div class="container-main-main" style="height: auto;">
        {% block body %}






 

        {% endblock %}
    </div>
</body>

</div>
<div class="container-main-6 footer ">
    <div class="container-sub-6 red">+639 5685 43802</div>
    <div class="container-sub-6 ">dayo_john16@yahoo.com</div>
    <div class="container-sub-6 ">dayojohn16@gmail.com</div>
</div>
<!-- <script>
    function load(month){
    u_name = prompt('To continue Please tell me your First Name:', 'Jane Doe');
fetch(month, {
    method: 'POST',
    body: JSON.stringify({
        name: u_name
    })
})
.then(function(response){
    return response.text()
})
.then(function(html){
    document.querySelector(".log").innerHTML = html;
    document.querySelector(".input-log").innerHTML = "If you want to see the codes please Contact Me";
});

}
    document.addEventListener("DOMContentLoaded", ()=>{
        load(12);
    })
</script> -->




</html>