{% extends "a_index/layout.html" %}

{% block body %}
{% load static %}
<h1>Mail</h1>
{% if visited %}
    <h1>Visited</h1>
    {{visited}}
{% endif %}

<a href="{% url 'user:send_email' %}">Send Mail</a>

<a href="{% url 'user:get_pdf' %}">Get PDF</a>
<br>
<a href="{% url 'user:get_csv' %}">GET CSV</a>
<br>
<a href="{% url 'user:send_sms' %}">Send SMS</a>
<!-- <script>
    window.addEventListener('beforeunload', function (e) {
            // Cancel the event
            e.preventDefault(); // If you prevent default behavior in Mozilla Firefox prompt will always be shown
            console.log('LEFT:')
            e.returnValue = '';
        });
</script> -->

{% endblock %}